In [3]:
from nba_api.stats.endpoints import playercareerstats
import matplotlib.pyplot as plt
from nba_api.stats.static import players
import seaborn as sns
import numpy as np
import pandas as pd
from json import loads, dumps
from nba_api.stats.static import players
from nba_api.stats.endpoints import commonplayerinfo, playercareerstats
import time


pd.set_option("display.max_columns", None)

In [4]:
from nba_api.stats.static import teams
from nba_api.stats.endpoints import commonteamroster
from nba_api.stats.endpoints import teamgamelog
from nba_api.stats.endpoints import commonteamroster
from datetime import datetime, timezone
from dateutil import parser
from nba_api.live.nba.endpoints import scoreboard
from nba_api.stats.endpoints import playerdashboardbyyearoveryear
from nba_api.stats.endpoints import playergamelog
from helpfuncs import get_current_season

In [5]:
class player():
    def get_player_info(self, player_id:int) -> pd.DataFrame:
        player_info = commonplayerinfo.CommonPlayerInfo(player_id=player_id)
        info_df = player_info.get_data_frames()[0]
        return info_df
    
    def get_player_latest_performance(self, player_id:int) -> pd.Series | str:
        game_log = playergamelog.PlayerGameLog(
            player_id=player_id,
            season=get_current_season()
        )
        df = game_log.get_data_frames()[0]

        if df.empty:
            return "Player is not active this season or has not played any games."
        return df.iloc[0]

    def get_alltime_player_stats(self, player_id:int) -> pd.DataFrame:
        career = playercareerstats.PlayerCareerStats(player_id=player_id)
        career_df = career.get_data_frames()[0]

        return career_df

    def get_current_season_stats(self, player_id:int) -> pd.DataFrame:
        player_dashboard = playerdashboardbyyearoveryear.PlayerDashboardByYearOverYear(
            player_id=player_id,
            season=get_current_season()
        )

        current_stats = player_dashboard.get_data_frames()[0]
        current_stats = current_stats[["GP", "MIN", "FG_PCT", "FG3_PCT", "FT_PCT", "REB", 
                                    "AST", "PTS", "BLK", "PLUS_MINUS"]]
        current_stats["PPG"] = round(current_stats["PTS"] / current_stats["GP"], 2)
        current_stats["APG"] = round(current_stats["AST"] / current_stats["GP"], 2)
        current_stats["RPG"] = round(current_stats["REB"] / current_stats["GP"], 2)
        current_stats["BPG"] = round(current_stats["BLK"] / current_stats["GP"], 2)
        current_stats["MPG"] = round(current_stats["MIN"] / current_stats["GP"], 2) 
        current_stats
        return current_stats


    def plot_stat_over_career(self, player_id, stat):
        player_name = players.find_player_by_id(player_id)
        career_df = self.get_alltime_player_stats(player_id=player_id)
        if stat not in career_df.columns:
            raise ValueError(f"Stat '{stat}' not found in career data.")
        
        print(player_name)
        plt.figure(figsize=(10, 6))
        sns.lineplot(data=career_df, x='SEASON_ID', y=stat, marker='o')
        plt.title(f"{player_name['full_name']}'s {stat} Over Career")
        plt.xlabel('Season')
        plt.ylabel(stat)
        plt.xticks(rotation=45)
        plt.grid() 
        plt.show()


    def get_rookie_season(self, player_id:int) -> str:
        career = playercareerstats.PlayerCareerStats(player_id=player_id)
        career_df = career.get_data_frames()[0]
        if career_df.empty:
            return get_current_season()
        rookie_season = career_df.iloc[0]['SEASON_ID']
        return rookie_season

    def get_team_roster_per_season(self, teamAbbreviation:str, season:str = get_current_season()) -> pd.DataFrame:
        team_details = teams.find_team_by_abbreviation(teamAbbreviation)
        team_id = team_details["id"]
        roster = commonteamroster.CommonTeamRoster(team_id=team_id, season=season)
        roster_data = roster.get_data_frames()[0]
        current_season = get_current_season()
        
        rookie_seasons = []
        for _, row in roster_data.iterrows():
            if row['EXP'] == 'R':
                rookie_season = current_season
            else: 
                rookie_season = self.get_rookie_season(row['PLAYER_ID'])
            rookie_seasons.append(rookie_season)
            time.sleep(0.6)  # To avoid hitting rate limits

        roster_data['ROOKIE_SEASON'] = rookie_seasons

        roster_data.drop(columns=['TeamID', 'SEASON', 'LeagueID', 'EXP', 'AGE', 'NUM', 'HOW_ACQUIRED', 'PLAYER_SLUG', 'NICKNAME'], inplace=True, axis=1)
        roster_data.set_index('PLAYER_ID', drop=True, inplace=True)
        return roster_data
    
    def get_player_teams(self, player_id:int) -> pd.DataFrame:
        career = playercareerstats.PlayerCareerStats(player_id=player_id)
        career_df = career.get_data_frames()[0]
        teams_played_for = career_df[['TEAM_ID', 'PLAYER_ID', 'SEASON_ID']].drop_duplicates().reset_index(drop=True)
        return teams_played_for

In [ ]:
lebron_player = players.find_players_by_full_name('Nikola Jokic')[0]
player_id = lebron_player['id']

player().get_alltime_player_stats(player_id=player_id)
#player().get_player_teams(player_id=1642365)
#player().get_player_info(player_id=player_id)

#player().get_current_season_stats(player_id=player_id)
#player().plot_stat_over_career(player_id=player_id, stat='PTS')

#player().get_team_roster_per_season(teamAbbreviation='SAS')

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
0,203999,2015-16,00,1610612743,DEN,21.0,80,55,1733,307,600,0.512,28,84,0.333,154,190,0.811,181,379,560,189,79,50,104,208,796
1,203999,2016-17,00,1610612743,DEN,22.0,73,59,2038,494,854,0.578,45,139,0.324,188,228,0.825,212,506,718,359,61,55,171,214,1221
2,203999,2017-18,00,1610612743,DEN,23.0,75,73,2443,504,1010,0.499,111,280,0.396,266,313,0.850,195,608,803,458,90,61,210,212,1385
3,203999,2018-19,00,1610612743,DEN,24.0,80,80,2504,616,1206,0.511,83,270,0.307,289,352,0.821,228,637,865,580,108,55,248,228,1604
4,203999,2019-20,00,1610612743,DEN,25.0,73,73,2335,565,1071,0.528,80,255,0.314,246,301,0.817,166,545,711,512,85,44,226,222,1456
5,203999,2020-21,00,1610612743,DEN,26.0,72,72,2488,732,1293,0.566,92,237,0.388,342,394,0.868,205,575,780,599,95,48,222,192,1898
6,203999,2021-22,00,1610612743,DEN,27.0,74,74,2476,764,1311,0.583,97,288,0.337,379,468,0.810,206,813,1019,584,109,63,281,191,2004
7,203999,2022-23,00,1610612743,DEN,28.0,69,69,2323,646,1022,0.632,57,149,0.383,341,415,0.822,167,650,817,678,87,47,247,174,1690
8,203999,2023-24,00,1610612743,DEN,29.0,79,79,2737,822,1411,0.583,83,231,0.359,358,438,0.817,223,753,976,708,108,68,237,194,2085
9,203999,2024-25,00,1610612743,DEN,30.0,70,70,2571,786,1364,0.576,138,331,0.417,361,451,0.800,200,692,892,716,127,45,230,160,2071
10,203999,2025-26,00,1610612743,DEN,30.0,25,25,874,268,437,0.613,55,127,0.433,155,184,0.842,75,234,309,271,35,19,85,73,746

In [ ]:
lebron_player = players.find_players_by_full_name('Nikola Jokic')[0]
player_id = lebron_player['id']

current_season_stats = player().get_alltime_player_stats(player_id=player_id)
current_season_stats = pd.DataFrame([current_season_stats.iloc[-1].to_dict()])


current_season_stats

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
0,203999,2025-26,00,1610612743,DEN,30.0,25,25,874,268,437,0.613,55,127,0.433,155,184,0.842,75,234,309,271,35,19,85,73,746

In [ ]:
from nba_api.stats.endpoints import playercareerstats
from nba_api.stats.static import players
import pandas as pd

# Buscar jugador por nombre
player_dict = players.find_players_by_full_name("LeBron James")[0]
player_id = player_dict['id']

# Obtener estadísticas de carrera
career = playercareerstats.PlayerCareerStats(player_id=player_id)
df = career.get_data_frames()[0]

# Mostrar estadísticas por temporada
df

df.iloc[0]['SEASON_ID']

'2003-04'

In [ ]:
career.get_json()

'{"resource": "playercareerstats", "parameters": {"PerMode": "Totals", "PlayerID": 2544, "LeagueID": "00"}, "resultSets": [{"name": "SeasonTotalsRegularSeason", "headers": ["PLAYER_ID", "SEASON_ID", "LEAGUE_ID", "TEAM_ID", "TEAM_ABBREVIATION", "PLAYER_AGE", "GP", "GS", "MIN", "FGM", "FGA", "FG_PCT", "FG3M", "FG3A", "FG3_PCT", "FTM", "FTA", "FT_PCT", "OREB", "DREB", "REB", "AST", "STL", "BLK", "TOV", "PF", "PTS"], "rowSet": [[2544, "2003-04", "00", 1610612739, "CLE", 19.0, 79, 79, 3120, 622, 1492, 0.417, 63, 217, 0.29, 347, 460, 0.754, 99, 333, 432, 465, 130, 58, 273, 149, 1654], [2544, "2004-05", "00", 1610612739, "CLE", 20.0, 80, 80, 3388, 795, 1684, 0.472, 108, 308, 0.351, 477, 636, 0.75, 111, 477, 588, 577, 177, 52, 262, 146, 2175], [2544, "2005-06", "00", 1610612739, "CLE", 21.0, 79, 79, 3361, 875, 1823, 0.48, 127, 379, 0.335, 601, 814, 0.738, 75, 481, 556, 521, 123, 66, 260, 181, 2478], [2544, "2006-07", "00", 1610612739, "CLE", 22.0, 78, 78, 3190, 772, 1621, 0.476, 99, 310, 0.319, 489, 701, 0.698, 83, 443, 526, 470, 125, 55, 250, 171, 2132], [2544, "2007-08", "00", 1610612739, "CLE", 23.0, 75, 74, 3027, 794, 1642, 0.484, 113, 359, 0.315, 549, 771, 0.712, 133, 459, 592, 539, 138, 81, 255, 165, 2250], [2544, "2008-09", "00", 1610612739, "CLE", 24.0, 81, 81, 3054, 789, 1613, 0.489, 132, 384, 0.344, 594, 762, 0.78, 106, 507, 613, 587, 137, 93, 241, 139, 2304], [2544, "2009-10", "00", 1610612739, "CLE", 25.0, 76, 76, 2966, 768, 1528, 0.503, 129, 387, 0.333, 593, 773, 0.767, 71, 483, 554, 651, 125, 77, 261, 119, 2258], [2544, "2010-11", "00", 1610612748, "MIA", 26.0, 79, 79, 3063, 758, 1485, 0.51, 92, 279, 0.33, 503, 663, 0.759, 80, 510, 590, 554, 124, 50, 284, 163, 2111], [2544, "2011-12", "00", 1610612748, "MIA", 27.0, 62, 62, 2326, 621, 1169, 0.531, 54, 149, 0.362, 387, 502, 0.771, 94, 398, 492, 387, 115, 50, 213, 96, 1683], [2544, "2012-13", "00", 1610612748, "MIA", 28.0, 76, 76, 2877, 765, 1354, 0.565, 103, 254, 0.406, 403, 535, 0.753, 97, 513, 610, 551, 129, 67, 226, 110, 2036], [2544, "2013-14", "00", 1610612748, "MIA", 29.0, 77, 77, 2902, 767, 1353, 0.567, 116, 306, 0.379, 439, 585, 0.75, 81, 452, 533, 488, 121, 26, 270, 126, 2089], [2544, "2014-15", "00", 1610612739, "CLE", 30.0, 69, 69, 2493, 624, 1279, 0.488, 120, 339, 0.354, 375, 528, 0.71, 51, 365, 416, 511, 109, 49, 272, 135, 1743], [2544, "2015-16", "00", 1610612739, "CLE", 31.0, 76, 76, 2709, 737, 1416, 0.52, 87, 282, 0.309, 359, 491, 0.731, 111, 454, 565, 514, 104, 49, 249, 143, 1920], [2544, "2016-17", "00", 1610612739, "CLE", 32.0, 74, 74, 2795, 736, 1344, 0.548, 124, 342, 0.363, 358, 531, 0.674, 97, 542, 639, 646, 92, 44, 303, 134, 1954], [2544, "2017-18", "00", 1610612739, "CLE", 33.0, 82, 82, 3026, 857, 1580, 0.542, 149, 406, 0.367, 388, 531, 0.731, 97, 612, 709, 747, 116, 71, 347, 136, 2251], [2544, "2018-19", "00", 1610612747, "LAL", 34.0, 55, 55, 1937, 558, 1095, 0.51, 111, 327, 0.339, 278, 418, 0.665, 57, 408, 465, 454, 72, 33, 197, 94, 1505], [2544, "2019-20", "00", 1610612747, "LAL", 35.0, 67, 67, 2316, 643, 1303, 0.493, 148, 425, 0.348, 264, 381, 0.693, 66, 459, 525, 684, 78, 36, 261, 118, 1698], [2544, "2020-21", "00", 1610612747, "LAL", 36.0, 45, 45, 1504, 422, 823, 0.513, 104, 285, 0.365, 178, 255, 0.698, 29, 317, 346, 350, 48, 25, 168, 70, 1126], [2544, "2021-22", "00", 1610612747, "LAL", 37.0, 56, 56, 2084, 640, 1221, 0.524, 161, 448, 0.359, 254, 336, 0.756, 63, 396, 459, 349, 73, 59, 196, 121, 1695], [2544, "2022-23", "00", 1610612747, "LAL", 38.0, 55, 54, 1954, 609, 1219, 0.5, 121, 377, 0.321, 251, 327, 0.768, 65, 392, 457, 375, 50, 32, 178, 88, 1590], [2544, "2023-24", "00", 1610612747, "LAL", 39.0, 71, 71, 2504, 685, 1269, 0.54, 149, 363, 0.41, 303, 404, 0.75, 61, 457, 518, 589, 89, 38, 245, 78, 1822], [2544, "2024-25", "00", 1610612747, "LAL", 40.0, 70, 70, 2444, 651, 1270, 0.513, 149, 396, 0.376, 259, 331, 0.782, 72, 474, 546, 575, 70, 39, 260, 99, 1710], [2544, "2025-26", "00", 1610612747, "LAL", 40.0, 9, 9, 304, 60, 128, 0.469, 12, 41, 0.293, 26, 42, 0.619, 7, 44, 51, 65, 7, 7, 24, 15, 158]]}, {"name": "CareerTotalsRegularSeason", "headers": ["PLAYER_ID", "LEAGUE_ID", "TEAM_ID", "GP", "GS", "MIN", "FGM", "FGA", "FG_PCT", "FG3M", "FG3A", "FG3_PCT", "FTM", "FTA", "FT_PCT", "OREB", "DREB", "REB", "AST", "STL", "BLK", "TOV", "PF", "PTS"], "rowSet": [[2544, "00", 0, 1571, 1569, 59344, 15548, 30711, 0.506268112402, 2571, 7363, 0.349178324052, 8675, 11777, 0.736605247516, 1806, 9976, 11782, 11649, 2352, 1157, 5495, 2796, 42342]]}, {"name": "SeasonTotalsPostSeason", "headers": ["PLAYER_ID", "SEASON_ID", "LEAGUE_ID", "TEAM_ID", "TEAM_ABBREVIATION", "PLAYER_AGE", "GP", "GS", "MIN", "FGM", "FGA", "FG_PCT", "FG3M", "FG3A", "FG3_PCT", "FTM", "FTA", "FT_PCT", "OREB", "DREB", "REB", "AST", "STL", "BLK", "TOV", "PF", "PTS"], "rowSet": [[2544, "2005-06", "00", 1610612739, "CLE", 21.0, 13, 13, 604, 146, 307, 0.476, 21, 63, 0.333, 87, 118, 0.737, 22, 83, 105, 76, 18, 9, 65, 44, 400], [2544, "2006-07", "00", 1610612739, "CLE", 22.0, 20, 20, 893, 166, 399, 0.416, 21, 75, 0.28, 148, 196, 0.755, 26, 135, 161, 159, 34, 10, 66, 40, 501], [2544, "2007-08", "00", 1610612739, "CLE", 23.0, 13, 13, 552, 113, 275, 0.411, 18, 70, 0.257, 122, 167, 0.731, 16, 86, 102, 99, 23, 17, 54, 33, 366], [2544, "2008-09", "00", 1610612739, "CLE", 24.0, 14, 14, 580, 159, 312, 0.51, 27, 81, 0.333, 149, 199, 0.749, 19, 109, 128, 102, 23, 12, 38, 30, 494], [2544, "2009-10", "00", 1610612739, "CLE", 25.0, 11, 11, 460, 106, 211, 0.502, 20, 50, 0.4, 88, 120, 0.733, 15, 87, 102, 84, 19, 20, 42, 23, 320], [2544, "2010-11", "00", 1610612748, "MIA", 26.0, 21, 21, 922, 174, 373, 0.466, 30, 85, 0.353, 119, 156, 0.763, 34, 142, 176, 123, 35, 25, 66, 56, 497], [2544, "2011-12", "00", 1610612748, "MIA", 27.0, 23, 23, 983, 251, 502, 0.5, 22, 85, 0.259, 173, 234, 0.739, 54, 170, 224, 129, 43, 16, 81, 47, 697], [2544, "2012-13", "00", 1610612748, "MIA", 28.0, 23, 23, 960, 212, 432, 0.491, 36, 96, 0.375, 136, 175, 0.777, 37, 156, 193, 152, 41, 18, 70, 43, 596], [2544, "2013-14", "00", 1610612748, "MIA", 29.0, 20, 20, 763, 192, 340, 0.565, 35, 86, 0.407, 129, 160, 0.806, 14, 127, 141, 95, 36, 11, 61, 46, 548], [2544, "2014-15", "00", 1610612739, "CLE", 30.0, 20, 20, 844, 227, 544, 0.417, 25, 110, 0.227, 122, 167, 0.731, 37, 189, 226, 169, 33, 21, 82, 58, 601], [2544, "2015-16", "00", 1610612739, "CLE", 31.0, 21, 21, 822, 219, 417, 0.525, 32, 94, 0.34, 82, 124, 0.661, 42, 158, 200, 160, 49, 27, 75, 54, 552], [2544, "2016-17", "00", 1610612739, "CLE", 32.0, 18, 18, 744, 217, 384, 0.565, 44, 107, 0.411, 113, 162, 0.698, 19, 145, 164, 141, 35, 23, 72, 43, 591], [2544, "2017-18", "00", 1610612739, "CLE", 33.0, 22, 22, 922, 275, 510, 0.539, 39, 114, 0.342, 159, 213, 0.746, 31, 169, 200, 198, 30, 23, 94, 52, 748], [2544, "2019-20", "00", 1610612747, "LAL", 35.0, 21, 21, 762, 214, 382, 0.56, 44, 119, 0.37, 108, 150, 0.72, 28, 198, 226, 184, 26, 18, 84, 40, 580], [2544, "2020-21", "00", 1610612747, "LAL", 36.0, 6, 6, 224, 54, 114, 0.474, 18, 48, 0.375, 14, 23, 0.609, 7, 36, 43, 48, 9, 2, 25, 7, 140], [2544, "2022-23", "00", 1610612747, "LAL", 38.0, 16, 16, 619, 147, 295, 0.498, 28, 106, 0.264, 70, 92, 0.761, 25, 133, 158, 104, 17, 18, 40, 28, 392], [2544, "2023-24", "00", 1610612747, "LAL", 39.0, 5, 5, 204, 56, 99, 0.566, 10, 26, 0.385, 17, 23, 0.739, 4, 30, 34, 44, 12, 5, 19, 11, 139], [2544, "2024-25", "00", 1610612747, "LAL", 40.0, 5, 5, 204, 43, 88, 0.489, 10, 28, 0.357, 31, 40, 0.775, 12, 33, 45, 28, 10, 9, 13, 8, 127]]}, {"name": "CareerTotalsPostSeason", "headers": ["PLAYER_ID", "LEAGUE_ID", "TEAM_ID", "GP", "GS", "MIN", "FGM", "FGA", "FG_PCT", "FG3M", "FG3A", "FG3_PCT", "FTM", "FTA", "FT_PCT", "OREB", "DREB", "REB", "AST", "STL", "BLK", "TOV", "PF", "PTS"], "rowSet": [[2544, "00", 0, 292, 292, 12062, 2971, 5984, 0.496490641711, 480, 1443, 0.33264033264, 1867, 2519, 0.741167129813, 442, 2186, 2628, 2095, 493, 284, 1047, 663, 8289]]}, {"name": "SeasonTotalsAllStarSeason", "headers": ["PLAYER_ID", "SEASON_ID", "LEAGUE_ID", "TEAM_ID", "TEAM_ABBREVIATION", "PLAYER_AGE", "GP", "GS", "MIN", "FGM", "FGA", "FG_PCT", "FG3M", "FG3A", "FG3_PCT", "FTM", "FTA", "FT_PCT", "OREB", "DREB", "REB", "AST", "STL", "BLK", "TOV", "PF", "PTS"], "rowSet": [[2544, "2004-05", "00", 1610616833, "EST", 20.0, 1, 1, 31, 6, 13, 0.462, 1, 4, 0.25, 0, 1, 0.0, 1, 7, 8, 6, 2, 0, 3, 0, 13], [2544, "2005-06", "00", 1610616833, "EST", 21.0, 1, 1, 31, 12, 21, 0.571, 4, 10, 0.4, 1, 5, 0.2, 2, 4, 6, 2, 2, 0, 1, 2, 29], [2544, "2006-07", "00", 1610616833, "EST", 22.0, 1, 1, 32, 11, 20, 0.55, 4, 8, 0.5, 2, 2, 1.0, 0, 6, 6, 6, 1, 0, 4, 0, 28], [2544, "2007-08", "00", 1610616833, "EST", 23.0, 1, 1, 30, 12, 22, 0.545, 2, 7, 0.286, 1, 1, 1.0, 1, 7, 8, 9, 2, 2, 4, 3, 27], [2544, "2008-09", "00", 1610616833, "EST", 24.0, 1, 1, 27, 8, 19, 0.421, 2, 5, 0.4, 2, 2, 1.0, 0, 5, 5, 3, 0, 0, 3, 0, 20], [2544, "2009-10", "00", 1610616833, "EST", 25.0, 1, 1, 32, 10, 22, 0.455, 1, 6, 0.167, 4, 4, 1.0, 1, 4, 5, 6, 4, 0, 2, 1, 25], [2544, "2010-11", "00", 1610616833, "EST", 26.0, 1, 1, 32, 10, 18, 0.556, 0, 3, 0.0, 9, 10, 0.9, 2, 10, 12, 10, 0, 0, 4, 3, 29], [2544, "2011-12", "00", 1610616833, "EST", 27.0, 1, 1, 32, 15, 23, 0.652, 6, 8, 0.75, 0, 0, 0.0, 0, 6, 6, 7, 0, 0, 4, 2, 36], [2544, "2012-13", "00", 1610616833, "EST", 28.0, 1, 1, 30, 7, 18, 0.389, 3, 7, 0.429, 2, 4, 0.5, 0, 3, 3, 5, 1, 0, 4, 0, 19], [2544, "2013-14", "00", 1610616833, "EST", 29.0, 1, 1, 33, 11, 22, 0.5, 0, 7, 0.0, 0, 0, 0.0, 1, 6, 7, 7, 3, 0, 1, 0, 22], [2544, "2014-15", "00", 1610616833, "EST", 30.0, 1, 1, 32, 11, 21, 0.524, 4, 12, 0.333, 4, 5, 0.8, 1, 4, 5, 7, 2, 0, 4, 1, 30], [2544, "2015-16", "00", 1610616833, "EST", 31.0, 1, 1, 20, 6, 13, 0.462, 1, 5, 0.2, 0, 0, 0.0, 0, 4, 4, 7, 0, 0, 4, 0, 13], [2544, "2016-17", "00", 1610616833, "EST", 32.0, 1, 1, 19, 10, 17, 0.588, 3, 8, 0.375, 0, 0, 0.0, 0, 3, 3, 1, 0, 0, 4, 2, 23], [2544, "2017-18", "00", 1610616833, "LBN", 33.0, 1, 1, 31, 12, 17, 0.706, 4, 8, 0.5, 1, 1, 1.0, 0, 10, 10, 8, 1, 0, 5, 2, 29], [2544, "2018-19", "00", 1610616834, "LBN", 34.0, 1, 1, 27, 9, 17, 0.529, 1, 8, 0.125, 0, 1, 0.0, 2, 6, 8, 4, 0, 2, 1, 1, 19], [2544, "2019-20", "00", 1610616834, "LBN", 35.0, 1, 1, 19, 9, 20, 0.45, 2, 10, 0.2, 3, 4, 0.75, 2, 3, 5, 6, 1, 2, 6, 1, 23], [2544, "2020-21", "00", 1610616834, "LBN", 36.0, 1, 1, 13, 2, 7, 0.286, 0, 3, 0.0, 0, 0, 0.0, 0, 2, 2, 4, 0, 1, 1, 0, 4], [2544, "2021-22", "00", 1610616834, "LBN", 37.0, 1, 1, 36, 11, 24, 0.458, 2, 11, 0.182, 0, 0, 0.0, 1, 5, 6, 8, 3, 1, 3, 0, 24], [2544, "2022-23", "00", 1610616834, "LBN", 38.0, 1, 1, 14, 6, 11, 0.545, 1, 5, 0.2, 0, 0, 0.0, 0, 1, 1, 4, 0, 0, 0, 1, 13], [2544, "2023-24", "00", 1610616834, "WST", 39.0, 1, 1, 14, 4, 10, 0.4, 0, 3, 0.0, 0, 0, 0.0, 0, 4, 4, 3, 0, 0, 1, 0, 8]]}, {"name": "CareerTotalsAllStarSeason", "headers": ["PLAYER_ID", "LEAGUE_ID", "TEAM_ID", "GP", "GS", "MIN", "FGM", "FGA", "FG_PCT", "FG3M", "FG3A", "FG3_PCT", "FTM", "FTA", "FT_PCT", "OREB", "DREB", "REB", "AST", "STL", "BLK", "TOV", "PF", "PTS"], "rowSet": [[2544, "00", 0, 20, 20, 536, 182, 355, 0.512676056338, 41, 138, 0.297101449275, 29, 40, 0.725, 14, 100, 114, 113, 22, 8, 59, 19, 434]]}, {"name": "SeasonTotalsCollegeSeason", "headers": ["PLAYER_ID", "SEASON_ID", "LEAGUE_ID", "ORGANIZATION_ID", "SCHOOL_NAME", "PLAYER_AGE", "GP", "GS", "MIN", "FGM", "FGA", "FG_PCT", "FG3M", "FG3A", "FG3_PCT", "FTM", "FTA", "FT_PCT", "OREB", "DREB", "REB", "AST", "STL", "BLK", "TOV", "PF", "PTS"], "rowSet": []}, {"name": "CareerTotalsCollegeSeason", "headers": ["PLAYER_ID", "LEAGUE_ID", "ORGANIZATION_ID", "GP", "GS", "MIN", "FGM", "FGA", "FG_PCT", "FG3M", "FG3A", "FG3_PCT", "FTM", "FTA", "FT_PCT", "OREB", "DREB", "REB", "AST", "STL", "BLK", "TOV", "PF", "PTS"], "rowSet": []}, {"name": "SeasonTotalsShowcaseSeason", "headers": ["PLAYER_ID", "SEASON_ID", "LEAGUE_ID", "TEAM_ID", "TEAM_ABBREVIATION", "PLAYER_AGE", "GP", "GS", "MIN", "FGM", "FGA", "FG_PCT", "FG3M", "FG3A", "FG3_PCT", "FTM", "FTA", "FT_PCT", "OREB", "DREB", "REB", "AST", "STL", "BLK", "TOV", "PF", "PTS"], "rowSet": []}, {"name": "CareerTotalsShowcaseSeason", "headers": ["PLAYER_ID", "LEAGUE_ID", "TEAM_ID", "GP", "GS", "MIN", "FGM", "FGA", "FG_PCT", "FG3M", "FG3A", "FG3_PCT", "FTM", "FTA", "FT_PCT", "OREB", "DREB", "REB", "AST", "STL", "BLK", "TOV", "PF", "PTS"], "rowSet": []}, {"name": "SeasonRankingsRegularSeason", "headers": ["PLAYER_ID", "SEASON_ID", "LEAGUE_ID", "TEAM_ID", "TEAM_ABBREVIATION", "PLAYER_AGE", "GP", "GS", "RANK_MIN", "RANK_FGM", "RANK_FGA", "RANK_FG_PCT", "RANK_FG3M", "RANK_FG3A", "RANK_FG3_PCT", "RANK_FTM", "RANK_FTA", "RANK_FT_PCT", "RANK_OREB", "RANK_DREB", "RANK_REB", "RANK_AST", "RANK_STL", "RANK_BLK", "RANK_TOV", "RANK_PTS", "RANK_EFF"], "rowSet": [[2544, "2003-04", "00", 1610612739, "CLE", "NR", "NR", "NR", 9, 7, 4, 90, 83, 60, 92, 22, 15, 73, 103, 56, 65, 13, 14, 59, 3, 8, 23], [2544, "2004-05", "00", 1610612739, "CLE", "NR", "NR", "NR", 1, 1, 2, 37, 35, 35, 71, 10, 10, 98, 90, 21, 29, 5, 2, 71, 5, 2, 2], [2544, "2005-06", "00", 1610612739, "CLE", "NR", "NR", "NR", 2, 2, 2, 39, 28, 19, 93, 6, 3, 94, 144, 19, 32, 10, 16, 44, 6, 2, 2], [2544, "2006-07", "00", 1610612739, "CLE", "NR", "NR", "NR", 1, 2, 2, 35, 55, 33, 102, 5, 3, 116, 122, 25, 39, 12, 12, 57, 7, 2, 6], [2544, "2007-08", "00", 1610612739, "CLE", "NR", "NR", "NR", 14, 1, 2, 41, 48, 27, 113, 5, 3, 111, 56, 27, 33, 10, 6, 40, 6, 2, 1], [2544, "2008-09", "00", 1610612739, "CLE", "NR", "NR", "NR", 7, 3, 4, 34, 25, 18, 109, 1, 3, 93, 88, 14, 25, 8, 7, 25, 4, 2, 1], [2544, "2009-10", "00", 1610612739, "CLE", "NR", "NR", "NR", 12, 2, 3, 26, 25, 17, 109, 2, 3, 82, 135, 23, 39, 6, 11, 39, 5, 2, 1], [2544, "2010-11", "00", 1610612748, "MIA", "NR", "NR", "NR", 6, 1, 6, 21, 67, 54, 115, 6, 5, 90, 110, 13, 32, 12, 9, 70, 2, 2, 1], [2544, "2011-12", "00", 1610612748, "MIA", "NR", "NR", "NR", 10, 2, 4, 11, 96, 100, 72, 2, 2, 79, 81, 17, 26, 12, 4, 51, 6, 2, 1], [2544, "2012-13", "00", 1610612748, "MIA", "NR", "NR", "NR", 16, 1, 7, 5, 55, 69, 28, 6, 6, 82, 99, 16, 28, 8, 12, 49, 14, 3, 2], [2544, "2013-14", "00", 1610612748, "MIA", "NR", "NR", "NR", 8, 2, 10, 4, 47, 49, 45, 7, 8, 86, 113, 30, 43, 9, 14, 153, 4, 3, 3], [2544, "2014-15", "00", 1610612739, "CLE", "NR", "NR", "NR", 30, 7, 8, 26, 38, 34, 61, 5, 4, 106, 182, 48, 69, 11, 24, 69, 5, 4, 8], [2544, "2015-16", "00", 1610612739, "CLE", "NR", "NR", "NR", 18, 2, 7, 14, 91, 67, 99, 16, 11, 98, 68, 27, 36, 9, 29, 71, 9, 4, 5], [2544, "2016-17", "00", 1610612739, "CLE", "NR", "NR", "NR", 10, 4, 19, 10, 53, 53, 72, 18, 12, 105, 78, 14, 19, 5, 30, 67, 4, 9, 5], [2544, "2017-18", "00", 1610612739, "CLE", "NR", "NR", "NR", 1, 1, 2, 14, 42, 37, 90, 8, 8, 79, 67, 7, 11, 2, 15, 37, 2, 1, 1], [2544, "2018-19", "00", 1610612747, "LAL", "NR", "NR", "NR", 114, 28, 39, 32, 92, 79, 108, 31, 21, 111, 150, 38, 53, 18, 66, 119, 24, 28, 25], [2544, "2019-20", "00", 1610612747, "LAL", "NR", "NR", "NR", 13, 3, 5, 31, 32, 26, 114, 22, 16, 103, 100, 13, 22, 1, 34, 88, 4, 8, 4], [2544, "2020-21", "00", 1610612747, "LAL", "NR", "NR", "NR", 136, 46, 48, 30, 93, 84, 110, 45, 37, 96, 232, 43, 73, 24, 119, 141, 22, 46, 42], [2544, "2021-22", "00", 1610612747, "LAL", "NR", "NR", "NR", 78, 10, 17, 19, 42, 35, 93, 30, 25, 86, 132, 35, 47, 32, 53, 40, 17, 11, 14], [2544, "2022-23", "00", 1610612747, "LAL", "NR", "NR", "NR", 115, 16, 21, 40, 86, 63, 143, 44, 39, 88, 128, 37, 51, 32, 138, 108, 35, 25, 25], [2544, "2023-24", "00", 1610612747, "LAL", "NR", "NR", "NR", 30, 10, 22, 20, 56, 74, 29, 22, 21, 90, 146, 22, 34, 6, 20, 108, 6, 14, 7], [2544, "2024-25", "00", 1610612747, "LAL", "NR", "NR", "NR", 32, 8, 14, 26, 61, 63, 75, 33, 28, 68, 119, 15, 25, 7, 77, 88, 4, 15, 8], [2544, "2025-26", "00", 1610612747, "LAL", "NR", "NR", "NR", 274, 217, 221, null, 258, 244, null, 192, 155, null, 312, 232, 254, 104, 296, 174, 183, 226, 237]]}, {"name": "SeasonRankingsPostSeason", "headers": ["PLAYER_ID", "SEASON_ID", "LEAGUE_ID", "TEAM_ID", "TEAM_ABBREVIATION", "PLAYER_AGE", "GP", "GS", "RANK_MIN", "RANK_FGM", "RANK_FGA", "RANK_FG_PCT", "RANK_FG3M", "RANK_FG3A", "RANK_FG3_PCT", "RANK_FTM", "RANK_FTA", "RANK_FT_PCT", "RANK_OREB", "RANK_DREB", "RANK_REB", "RANK_AST", "RANK_STL", "RANK_BLK", "RANK_TOV", "RANK_PTS", "RANK_EFF"], "rowSet": [[2544, "2005-06", "00", 1610612739, "CLE", "NR", "NR", "NR", 22, 7, 7, 26, 15, 15, 43, 6, 5, 53, 21, 14, 18, 8, 13, 22, 4, 7, 10], [2544, "2006-07", "00", 1610612739, "CLE", "NR", "NR", "NR", 1, 3, 1, 44, 13, 7, 56, 1, 1, 39, 19, 3, 4, 1, 1, 15, 2, 1, 2], [2544, "2007-08", "00", 1610612739, "CLE", "NR", "NR", "NR", 17, 9, 8, 49, 21, 9, 51, 3, 3, 54, 39, 12, 15, 7, 9, 14, 4, 7, 10], [2544, "2008-09", "00", 1610612739, "CLE", "NR", "NR", "NR", 14, 4, 4, 15, 11, 12, 42, 2, 2, 46, 23, 6, 7, 5, 7, 17, 8, 2, 4], [2544, "2009-10", "00", 1610612739, "CLE", "NR", "NR", "NR", 20, 9, 10, 15, 12, 17, 18, 6, 6, 51, 35, 11, 13, 5, 10, 7, 8, 8, 6], [2544, "2010-11", "00", 1610612748, "MIA", "NR", "NR", "NR", 1, 3, 3, 22, 6, 5, 32, 5, 4, 45, 15, 2, 3, 2, 2, 6, 2, 3, 1], [2544, "2011-12", "00", 1610612748, "MIA", "NR", "NR", "NR", 1, 1, 1, 8, 11, 6, 51, 1, 1, 46, 1, 2, 1, 2, 2, 15, 1, 1, 1], [2544, "2012-13", "00", 1610612748, "MIA", "NR", "NR", "NR", 1, 1, 1, 16, 4, 4, 31, 1, 1, 35, 12, 2, 2, 1, 1, 11, 2, 1, 1], [2544, "2013-14", "00", 1610612748, "MIA", "NR", "NR", "NR", 3, 2, 4, 4, 5, 6, 19, 3, 3, 26, 43, 4, 6, 4, 5, 21, 4, 2, 1], [2544, "2014-15", "00", 1610612739, "CLE", "NR", "NR", "NR", 1, 1, 1, 50, 18, 4, 55, 2, 2, 52, 11, 1, 2, 1, 3, 8, 1, 1, 1], [2544, "2015-16", "00", 1610612739, "CLE", "NR", "NR", "NR", 3, 1, 3, 6, 10, 11, 35, 4, 3, 46, 7, 2, 2, 2, 1, 4, 2, 2, 1], [2544, "2016-17", "00", 1610612739, "CLE", "NR", "NR", "NR", 1, 1, 1, 6, 3, 7, 25, 1, 1, 44, 20, 2, 2, 1, 1, 3, 1, 1, 1], [2544, "2017-18", "00", 1610612739, "CLE", "NR", "NR", "NR", 1, 1, 1, 15, 10, 8, 45, 1, 1, 40, 11, 2, 3, 1, 3, 5, 1, 1, 1], [2544, "2019-20", "00", 1610612747, "LAL", "NR", "NR", "NR", 3, 1, 1, 8, 7, 9, 51, 3, 3, 52, 10, 1, 1, 1, 4, 4, 1, 2, 1], [2544, "2020-21", "00", 1610612747, "LAL", "NR", "NR", "NR", 61, 40, 38, 29, 41, 41, 45, 59, 49, 58, 62, 49, 56, 22, 41, 89, 17, 44, 44], [2544, "2022-23", "00", 1610612747, "LAL", "NR", "NR", "NR", 14, 7, 8, 22, 22, 12, 81, 9, 7, 39, 15, 6, 7, 5, 18, 8, 9, 8, 7], [2544, "2023-24", "00", 1610612747, "LAL", "NR", "NR", "NR", 65, 42, 48, 6, 63, 70, 34, 50, 48, 44, 95, 58, 69, 24, 26, 49, 28, 43, 42], [2544, "2024-25", "00", 1610612747, "LAL", "NR", "NR", "NR", 68, 56, 59, 20, 67, 71, 44, 26, 29, 40, 51, 55, 56, 43, 42, 30, 52, 52, 45]]}, {"name": "SeasonHighs", "headers": ["PLAYER_ID", "GAME_ID", "GAME_DATE", "VS_TEAM_ID", "VS_TEAM_CITY", "VS_TEAM_NAME", "VS_TEAM_ABBREVIATION", "STAT", "STAT_VALUE", "STAT_ORDER", "DATE_EST"], "rowSet": [[2544, "0022500362", "Dec 07 2025", 1610612755, "Philadelphia", "76ers", "PHI", "PTS", 29, 1, "2025-12-07T00:00:00"], [2544, "0022501204", "Dec 10 2025", 1610612759, "San Antonio", "Spurs", "SAS", "REB", 15, 2, "2025-12-10T00:00:00"], [2544, "0022501228", "Dec 14 2025", 1610612756, "Phoenix", "Suns", "PHX", "OREB", 1, 3, "2025-12-14T00:00:00"], [2544, "0022501204", "Dec 10 2025", 1610612759, "San Antonio", "Spurs", "SAS", "OREB", 1, 3, "2025-12-10T00:00:00"], [2544, "0022500362", "Dec 07 2025", 1610612755, "Philadelphia", "76ers", "PHI", "OREB", 1, 3, "2025-12-07T00:00:00"], [2544, "0022500336", "Dec 04 2025", 1610612761, "Toronto", "Raptors", "TOR", "OREB", 1, 3, "2025-12-04T00:00:00"], [2544, "0022500078", "Nov 28 2025", 1610612742, "Dallas", "Mavericks", "DAL", "OREB", 1, 3, "2025-11-28T00:00:00"], [2544, "0022500059", "Nov 25 2025", 1610612746, "LA", "Clippers", "LAC", "OREB", 1, 3, "2025-11-25T00:00:00"], [2544, "0022500253", "Nov 18 2025", 1610612762, "Utah", "Jazz", "UTA", "OREB", 1, 3, "2025-11-18T00:00:00"], [2544, "0022501204", "Dec 10 2025", 1610612759, "San Antonio", "Spurs", "SAS", "DREB", 14, 4, "2025-12-10T00:00:00"], [2544, "0022500253", "Nov 18 2025", 1610612762, "Utah", "Jazz", "UTA", "AST", 12, 5, "2025-11-18T00:00:00"], [2544, "0022501228", "Dec 14 2025", 1610612756, "Phoenix", "Sun

In [ ]:
df.columns

Index(['PLAYER_ID', 'SEASON_ID', 'LEAGUE_ID', 'TEAM_ID', 'TEAM_ABBREVIATION',
       'PLAYER_AGE', 'GP', 'GS', 'MIN', 'FGM', 'FGA', 'FG_PCT', 'FG3M', 'FG3A',
       'FG3_PCT', 'FTM', 'FTA', 'FT_PCT', 'OREB', 'DREB', 'REB', 'AST', 'STL',
       'BLK', 'TOV', 'PF', 'PTS'],
      dtype='object')

In [ ]:
eastern_conference = {
    'ATL', 'BOS', 'BKN', 'CHA', 'CHI', 'CLE', 'DET', 'IND',
    'MIA', 'MIL', 'NYK', 'ORL', 'PHI', 'TOR', 'WAS'
}

western_conference = {
    'DAL', 'DEN', 'GSW', 'HOU', 'LAC', 'LAL', 'MEM', 'MIN',
    'NOP', 'OKC', 'PHX', 'POR', 'SAC', 'SAS', 'UTA'
}

teams_list = list(eastern_conference.union(western_conference))
teams_list

['MIL',
 'ATL',
 'HOU',
 'GSW',
 'DAL',
 'CHA',
 'NYK',
 'ORL',
 'PHI',
 'SAC',
 'DET',
 'PHX',
 'WAS',
 'NOP',
 'BOS',
 'MEM',
 'IND',
 'SAS',
 'MIA',
 'LAC',
 'BKN',
 'POR',
 'TOR',
 'DEN',
 'LAL',
 'MIN',
 'CHI',
 'UTA',
 'CLE',
 'OKC']

In [ ]:
import time

def get_rookie_season(player_id:int) -> str:
    career = playercareerstats.PlayerCareerStats(player_id=player_id)
    career_df = career.get_data_frames()[0]
    if career_df.empty:
        return get_current_season()
    rookie_season = career_df.iloc[0]['SEASON_ID']
    return rookie_season

def get_team_roster_per_season(teamAbbreviation:str, season:str) -> pd.DataFrame:
    team_details = teams.find_team_by_abbreviation(teamAbbreviation)
    team_id = team_details["id"]
    roster = commonteamroster.CommonTeamRoster(team_id=team_id, season=season)
    roster_data = roster.get_data_frames()[0]
    
    rookie_seasons = []
    for _, row in roster_data.iterrows():
        rookie_season = get_rookie_season(row['PLAYER_ID'])
        rookie_seasons.append(rookie_season)
        time.sleep(0.6)  # To avoid hitting rate limits

    roster_data['ROOKIE_SEASON'] = rookie_seasons

    roster_data.drop(columns=['TeamID', 'SEASON', 'LeagueID', 'EXP', 'AGE', 'NUM', 'HOW_ACQUIRED', 'PLAYER_SLUG'], inplace=True, axis=1)
    return roster_data

In [ ]:
den_roster_2023 = get_team_roster_per_season("DEN", "2025-26")
den_roster_2023

,PLAYER,NICKNAME,POSITION,HEIGHT,WEIGHT,BIRTH_DATE,SCHOOL,PLAYER_ID,ROOKIE_SEASON
0,Christian Braun,Christian,G,6-6,220,"APR 17, 2001",Kansas,1631128,2022-23
1,Curtis Jones,Curtis,G,6-3,195,"OCT 04, 2001",Iowa State,1642938,2025-26
2,Julian Strawther,Julian,G,6-6,205,"APR 18, 2002",Gonzaga,1631124,2023-24
3,Hunter Tyson,Hunter,F,6-8,215,"JUN 13, 2000",Clemson,1641816,2023-24
4,Tamar Bates,Tamar,G,6-4,195,"FEB 21, 2003",Missouri,1642926,2025-26
5,Peyton Watson,Peyton,G,6-8,200,"SEP 11, 2002",UCLA,1631212,2022-23
6,Tim Hardaway Jr.,Tim,G-F,6-5,205,"MAR 16, 1992",Michigan,203501,2013-14
7,Bruce Brown,Bruce,G-F,6-4,202,"AUG 15, 1996",Miami,1628971,2018-19
8,DaRon Holmes II,DaRon,F,6-9,225,"AUG 15, 2002",Dayton,1641747,2025-26
9,Nikola Jokić,Nikola,C,6-11,284,"FEB 19, 1995",Mega Basket,203999,2015-16
10,Jonas Valančiūnas,Jonas,C,6-11,265,"MAY 06, 1992",Lietuvos rytas Vilnius,202685,2012-13
11,Spencer Jones,Spencer,F,6-7,225,"JUN 14, 2001",Stanford,1642461,2024-25
12,Zeke Nnaji,Zeke,F-C,6-10,240,"JAN 09, 2001",Arizona,1630192,2020-21
13,Cameron Johnson,Cameron,F,6-8,210,"MAR 03, 1996",North Carolina,1629661,2019-20
14,Jalen Pickett,Jalen,G,6-2,202,"OCT 22, 1999",Penn State,1629618,2023-24
15,Jamal Murray,Jamal,G,6-4,215,"FEB 23, 1997",Kentucky,1627750,2016-17
16,Aaron Gordon,Aaron,F,6-8,235,"SEP 16, 1995",Arizona,203932,2014-15

In [ ]:
den_roster_2023.set_index('PLAYER_ID', drop=True)

,PLAYER,NICKNAME,POSITION,HEIGHT,WEIGHT,BIRTH_DATE,SCHOOL,ROOKIE_SEASON
PLAYER_ID,,,,,,,,
1631128,Christian Braun,Christian,G,6-6,220,"APR 17, 2001",Kansas,2022-23
1642938,Curtis Jones,Curtis,G,6-3,195,"OCT 04, 2001",Iowa State,2025-26
1631124,Julian Strawther,Julian,G,6-6,205,"APR 18, 2002",Gonzaga,2023-24
1641816,Hunter Tyson,Hunter,F,6-8,215,"JUN 13, 2000",Clemson,2023-24
1642926,Tamar Bates,Tamar,G,6-4,195,"FEB 21, 2003",Missouri,2025-26
1631212,Peyton Watson,Peyton,G,6-8,200,"SEP 11, 2002",UCLA,2022-23
203501,Tim Hardaway Jr.,Tim,G-F,6-5,205,"MAR 16, 1992",Michigan,2013-14
1628971,Bruce Brown,Bruce,G-F,6-4,202,"AUG 15, 1996",Miami,2018-19
1641747,DaRon Holmes II,DaRon,F,6-9,225,"AUG 15, 2002",Dayton,2025-26
203999,Nikola Jokić,Nikola,C,6-11,284,"FEB 19, 1995",Mega Basket,2015-16
202685,Jonas Valančiūnas,Jonas,C,6-11,265,"MAY 06, 1992",Lietuvos rytas Vilnius,2012-13
1642461,Spencer Jones,Spencer,F,6-7,225,"JUN 14, 2001",Stanford,2024-25
1630192,Zeke Nnaji,Zeke,F-C,6-10,240,"JAN 09, 2001",Arizona,2020-21
1629661,Cameron Johnson,Cameron,F,6-8,210,"MAR 03, 1996",North Carolina,2019-20
1629618,Jalen Pickett,Jalen,G,6-2,202,"OCT 22, 1999",Penn State,2023-24
1627750,Jamal Murray,Jamal,G,6-4,215,"FEB 23, 1997",Kentucky,2016-17
203932,Aaron Gordon,Aaron,F,6-8,235,"SEP 16, 1995",Arizona,2014-15

In [ ]:
LAL_roster = get_team_roster_per_season("LAL",'2025-26')
LAL_roster

,TeamID,SEASON,LeagueID,PLAYER,NICKNAME,PLAYER_SLUG,NUM,POSITION,HEIGHT,WEIGHT,BIRTH_DATE,AGE,EXP,SCHOOL,PLAYER_ID,HOW_ACQUIRED
0,1610612747,2025,00,Adou Thiero,Adou,adou-thiero,1,G,6-7,220,"MAY 08, 2004",21.0,R,Arkansas,1642876,Draft Rights Traded from BKN on 07/06/25
1,1610612747,2025,00,Jarred Vanderbilt,Jarred,jarred-vanderbilt,2,F,6-8,214,"APR 03, 1999",26.0,7,Kentucky,1629020,Traded from UTA on 02/09/23
2,1610612747,2025,00,Dalton Knecht,Dalton,dalton-knecht,4,F,6-6,215,"APR 19, 2001",24.0,1,Tennessee,1642261,#17 Pick in 2024 Draft
3,1610612747,2025,00,Deandre Ayton,Deandre,deandre-ayton,5,C,7-0,252,"JUL 23, 1998",27.0,7,Arizona,1629028,Signed on 07/06/25
4,1610612747,2025,00,Gabe Vincent,Gabe,gabe-vincent,7,G,6-2,200,"JUN 14, 1996",29.0,6,California-Santa Barbara,1629216,Signed on 07/06/23
5,1610612747,2025,00,Bronny James,Bronny,bronny-james,9,G,6-2,210,"OCT 06, 2004",21.0,1,Southern California,1642355,#55 Pick in 2024 Draft
6,1610612747,2025,00,Jaxson Hayes,Jaxson,jaxson-hayes,11,C-F,7-0,220,"MAY 23, 2000",25.0,6,Texas,1629637,Signed on 07/06/23
7,1610612747,2025,00,Jake LaRavia,Jake,jake-laravia,12,F,6-7,235,"NOV 03, 2001",24.0,3,Wake Forest,1631222,Signed on 07/06/25
8,1610612747,2025,00,Maxi Kleber,Maxi,maxi-kleber,14,F,6-10,240,"JAN 29, 1992",33.0,8,Bayern Munich,1628467,Traded from DAL on 02/02/25
9,1610612747,2025,00,Austin Reaves,Austin,austin-reaves,15,G,6-5,197,"MAY 29, 1998",27.0,4,Oklahoma,1630559,Signed on 08/03/21
10,1610612747,2025,00,Nick Smith Jr.,Nick,nick-smith-jr,20,G,6-2,185,"APR 18, 2004",21.0,2,Arkansas,1641733,Signed on 09/29/25
11,1610612747,2025,00,LeBron James,LeBron,lebron-james,23,F,6-9,250,"DEC 30, 1984",40.0,22,St. Vincent-St. Mary HS (OH),2544,Signed on 07/09/18
12,1610612747,2025,00,Drew Timme,Drew,drew-timme,26,F,6-9,235,"SEP 09, 2000",25.0,1,Gonzaga,1631166,Signed on 11/25/25
13,1610612747,2025,00,Rui Hachimura,Rui,rui-hachimura,28,F,6-8,230,"FEB 08, 1998",27.0,6,Gonzaga,1629060,Traded from WAS on 01/23/23
14,1610612747,2025,00,Chris Mañon,Chris,chris-mañon,30,G,6-4,209,"DEC 09, 2001",24.0,R,Vanderbilt,1643024,Signed on 07/24/25
15,1610612747,2025,00,Marcus Smart,Marcus,marcus-smart,36,G,6-3,220,"MAR 06, 1994",31.0,11,Oklahoma State,203935,Signed on 07/22/25
16,1610612747,2025,00,Luka Dončić,Luka,luka-dončić,77,F-G,6-8,230,"FEB 28, 1999",26.0,7,Real Madrid,1629029,Traded from DAL on 02/02/25

In [ ]:
LAL_roster

[1629020,
 1642261,
 1629216,
 1642355,
 1631132,
 1629637,
 1628467,
 1630559,
 1627827,
 1629003,
 2544,
 203458,
 1629060,
 1630692,
 1641998,
 1629029,
 202693]

In [ ]:
players = [2544, 203458]
columns = ['PERSON_ID', 'FIRST_NAME', 'LAST_NAME', 'DISPLAY_FIRST_LAST', 'DISPLAY_LAST_COMMA_FIRST', 'DISPLAY_FI_LAST', 'PLAYER_SLUG', 'BIRTHDATE', 'SCHOOL', 'COUNTRY', 'LAST_AFFILIATION', 'HEIGHT', 'WEIGHT', 'SEASON_EXP', 'JERSEY', 'POSITION', 'ROSTERSTATUS', 'GAMES_PLAYED_CURRENT_SEASON_FLAG', 'TEAM_ID', 'TEAM_NAME', 'TEAM_ABBREVIATION', 'TEAM_CODE', 'TEAM_CITY', 'PLAYERCODE', 'FROM_YEAR', 'TO_YEAR', 'DLEAGUE_FLAG', 'NBA_FLAG', 'GAMES_PLAYED_FLAG', 'DRAFT_YEAR', 'DRAFT_ROUND', 'DRAFT_NUMBER', 'GREATEST_75_FLAG']
empty_df = pd.DataFrame(columns=columns)


for player_id in players:
    player_info = commonplayerinfo.CommonPlayerInfo(player_id=player_id)
    player_info_dict = player_info.get_normalized_dict()
    player_common_info = player_info_dict['CommonPlayerInfo'][0]

    empty_df.loc[len(empty_df)] = player_common_info

In [ ]:
empty_df

,PERSON_ID,FIRST_NAME,LAST_NAME,DISPLAY_FIRST_LAST,DISPLAY_LAST_COMMA_FIRST,DISPLAY_FI_LAST,PLAYER_SLUG,BIRTHDATE,SCHOOL,COUNTRY,LAST_AFFILIATION,HEIGHT,WEIGHT,SEASON_EXP,JERSEY,POSITION,ROSTERSTATUS,GAMES_PLAYED_CURRENT_SEASON_FLAG,TEAM_ID,TEAM_NAME,TEAM_ABBREVIATION,TEAM_CODE,TEAM_CITY,PLAYERCODE,FROM_YEAR,TO_YEAR,DLEAGUE_FLAG,NBA_FLAG,GAMES_PLAYED_FLAG,DRAFT_YEAR,DRAFT_ROUND,DRAFT_NUMBER,GREATEST_75_FLAG
0,2544,LeBron,James,LeBron James,"James, LeBron",L. James,lebron-james,1984-12-30T00:00:00,St. Vincent-St. Mary HS (OH),USA,St. Vincent-St. Mary HS (OH)/USA,6-9,250,22,23,Forward,Active,Y,1610612747,Lakers,LAL,lakers,Los Angeles,lebron_james,2003,2025,N,Y,Y,2003,1,1,Y
1,203458,Alex,Len,Alex Len,"Len, Alex",A. Len,alex-len,1993-06-16T00:00:00,Maryland,Ukraine,Maryland/Ukraine,7-0,250,13,27,Center,Inactive,Y,1610612747,Lakers,LAL,lakers,Los Angeles,alex_len,2013,2024,N,Y,Y,2013,1,5,N

In [ ]:
import time 
def get_roster_data(roster):
    columns = ['PERSON_ID', 'FIRST_NAME', 'LAST_NAME', 'DISPLAY_FIRST_LAST', 'DISPLAY_LAST_COMMA_FIRST', 'DISPLAY_FI_LAST', 'PLAYER_SLUG', 'BIRTHDATE', 'SCHOOL', 'COUNTRY', 'LAST_AFFILIATION', 'HEIGHT', 'WEIGHT', 'SEASON_EXP', 'JERSEY', 'POSITION', 'ROSTERSTATUS', 'GAMES_PLAYED_CURRENT_SEASON_FLAG', 'TEAM_ID', 'TEAM_NAME', 'TEAM_ABBREVIATION', 'TEAM_CODE', 'TEAM_CITY', 'PLAYERCODE', 'FROM_YEAR', 'TO_YEAR', 'DLEAGUE_FLAG', 'NBA_FLAG', 'GAMES_PLAYED_FLAG', 'DRAFT_YEAR', 'DRAFT_ROUND', 'DRAFT_NUMBER', 'GREATEST_75_FLAG']
    empty_df = pd.DataFrame(columns=columns)
    
    for player_id in roster:
        player_info = commonplayerinfo.CommonPlayerInfo(player_id=player_id)
        player_info_dict = player_info.get_normalized_dict()
        player_common_info = player_info_dict['CommonPlayerInfo'][0]
    
        empty_df.loc[len(empty_df)] = player_common_info

        time.sleep(0.8)
        

    return empty_df

In [ ]:
LAL_current_roster = get_roster_data(LAL_roster)

In [ ]:
LAL_current_roster.columns

Index(['PERSON_ID', 'FIRST_NAME', 'LAST_NAME', 'DISPLAY_FIRST_LAST',
       'DISPLAY_LAST_COMMA_FIRST', 'DISPLAY_FI_LAST', 'PLAYER_SLUG',
       'BIRTHDATE', 'SCHOOL', 'COUNTRY', 'LAST_AFFILIATION', 'HEIGHT',
       'WEIGHT', 'SEASON_EXP', 'JERSEY', 'POSITION', 'ROSTERSTATUS',
       'GAMES_PLAYED_CURRENT_SEASON_FLAG', 'TEAM_ID', 'TEAM_NAME',
       'TEAM_ABBREVIATION', 'TEAM_CODE', 'TEAM_CITY', 'PLAYERCODE',
       'FROM_YEAR', 'TO_YEAR', 'DLEAGUE_FLAG', 'NBA_FLAG', 'GAMES_PLAYED_FLAG',
       'DRAFT_YEAR', 'DRAFT_ROUND', 'DRAFT_NUMBER', 'GREATEST_75_FLAG'],
      dtype='object')

In [ ]:
LAL_current_roster

,PERSON_ID,FIRST_NAME,LAST_NAME,DISPLAY_FIRST_LAST,DISPLAY_LAST_COMMA_FIRST,DISPLAY_FI_LAST,PLAYER_SLUG,BIRTHDATE,SCHOOL,COUNTRY,LAST_AFFILIATION,HEIGHT,WEIGHT,SEASON_EXP,JERSEY,POSITION,ROSTERSTATUS,GAMES_PLAYED_CURRENT_SEASON_FLAG,TEAM_ID,TEAM_NAME,TEAM_ABBREVIATION,TEAM_CODE,TEAM_CITY,PLAYERCODE,FROM_YEAR,TO_YEAR,DLEAGUE_FLAG,NBA_FLAG,GAMES_PLAYED_FLAG,DRAFT_YEAR,DRAFT_ROUND,DRAFT_NUMBER,GREATEST_75_FLAG
0,1629020,Jarred,Vanderbilt,Jarred Vanderbilt,"Vanderbilt, Jarred",J. Vanderbilt,jarred-vanderbilt,1999-04-03T00:00:00,Kentucky,USA,Kentucky/USA,6-8,214,7,2,Forward,Active,Y,1610612747,Lakers,LAL,lakers,Los Angeles,jarred_vanderbilt,2018,2025,Y,Y,Y,2018,2,41,N
1,1642261,Dalton,Knecht,Dalton Knecht,"Knecht, Dalton",D. Knecht,dalton-knecht,2001-04-19T00:00:00,Tennessee,USA,Tennessee/USA,6-6,215,1,4,Forward,Active,Y,1610612747,Lakers,LAL,lakers,Los Angeles,dalton_knecht,2024,2025,N,Y,Y,2024,1,17,N
2,1629216,Gabe,Vincent,Gabe Vincent,"Vincent, Gabe",G. Vincent,gabe-vincent,1996-06-14T00:00:00,California-Santa Barbara,USA,California-Santa Barbara/USA,6-2,200,6,7,Guard,Active,Y,1610612747,Lakers,LAL,lakers,Los Angeles,gabe_vincent,2019,2025,Y,Y,Y,Undrafted,Undrafted,Undrafted,N
3,1642355,Bronny,James,Bronny James,"James, Bronny",B. James,bronny-james,2004-10-06T00:00:00,Southern California,USA,Southern California/USA,6-2,210,1,9,Guard,Active,Y,1610612747,Lakers,LAL,lakers,Los Angeles,tmp_bronny_james,2024,2025,Y,Y,Y,2024,2,55,N
4,1631132,Christian,Koloko,Christian Koloko,"Koloko, Christian",C. Koloko,christian-koloko,2000-06-20T00:00:00,Arizona,Cameroon,Arizona/Cameroon,6-11,225,3,,Center,Inactive,Y,0,,,,,christian_koloko,2022,2025,Y,Y,Y,2022,2,33,N
5,1629637,Jaxson,Hayes,Jaxson Hayes,"Hayes, Jaxson",J. Hayes,jaxson-hayes,2000-05-23T00:00:00,Texas,USA,Texas/USA,7-0,220,6,11,Center-Forward,Active,Y,1610612747,Lakers,LAL,lakers,Los Angeles,jaxson_hayes,2019,2025,Y,Y,Y,2019,1,8,N
6,1628467,Maxi,Kleber,Maxi Kleber,"Kleber, Maxi",M. Kleber,maxi-kleber,1992-01-29T00:00:00,Bayern Munich,Germany,Bayern Munich/Germany,6-10,240,8,14,Forward,Active,Y,1610612747,Lakers,LAL,lakers,Los Angeles,maxi_kleber,2017,2025,N,Y,Y,Undrafted,Undrafted,Undrafted,N
7,1630559,Austin,Reaves,Austin Reaves,"Reaves, Austin",A. Reaves,austin-reaves,1998-05-29T00:00:00,Oklahoma,USA,Oklahoma/USA,6-5,197,4,15,Guard,Active,Y,1610612747,Lakers,LAL,lakers,Los Angeles,austin_reaves,2021,2025,N,Y,Y,Undrafted,Undrafted,Undrafted,N
8,1627827,Dorian,Finney-Smith,Dorian Finney-Smith,"Finney-Smith, Dorian",D. Finney-Smith,dorian-finney-smith,1993-05-04T00:00:00,Florida,USA,Florida/USA,6-7,220,9,2,Forward,Active,N,1610612745,Rockets,HOU,rockets,Houston,dorian_finney-smith,2016,2025,N,Y,Y,Undrafted,Undrafted,Undrafted,N
9,1629003,Shake,Milton,Shake Milton,"Milton, Shake",S. Milton,shake-milton,1996-09-26T00:00:00,Southern Methodist,USA,Southern Methodist/USA,6-5,205,8,20,Guard,Inactive,N,1610612747,Lakers,LAL,lakers,Los Angeles,shake_milton,2018,2024,Y,Y,Y,2018,2,54,N
10,2544,LeBron,James,LeBron James,"James, LeBron",L. James,lebron-james,1984-12-30T00:00:00,St. Vincent-St. Mary HS (OH),USA,St. Vincent-St. Mary HS (OH)/USA,6-9,250,22,23,Forward,Active,Y,1610612747,Lakers,LAL,lakers,Los Angeles,lebron_james,2003,2025,N,Y,Y,2003,1,1,Y
11,203458,Alex,Len,Alex Len,"Len, Alex",A. Len,alex-len,1993-06-16T00:00:00,Maryland,Ukraine,Maryland/Ukraine,7-0,250,13,27,Center,Inactive,Y,1610612747,Lakers,LAL,lakers,Los Angeles,alex_len,2013,2024,N,Y,Y,2013,1,5,N
12,1629060,Rui,Hachimura,Rui Hachimura,"Hachimura, Rui",R. Hachimura,rui-hachimura,1998-02-08T00:00:00,Gonzaga,Japan,Gonzaga/Japan,6-8,230,6,28,Forward,Active,Y,1610612747,Lakers,LAL,lakers,Los Angeles,rui_hachimura,2019,2025,N,Y,Y,2019,1,9,N
13,1630692,Jordan,Goodwin,Jordan Goodwin,"Goodwin, Jordan",J. Goodwin,jordan-goodwin,1998-10-23T00:00:00,St. Louis,USA,St. Louis/USA,6-3,215,4,23,Guard,Active,Y,1610612756,Suns,PHX,suns,Phoenix,jordan_goodwin,2021,2025,Y,Y,Y,Undrafted,Undrafted,Undrafted,N
14,1641998,Trey,Jemison III,Trey Jemison III,"Jemison III, Trey",T. Jemison III,trey-jemison-iii,1999-11-28T00:00:00,Alabama-Birmingham,USA,Alabama-Birmingham/USA,6-10,270,2,50,Center,Active,Y,1610612752,Knicks,NYK,knicks,New York,trey_jemison,2023,2025,Y,Y,Y,Undrafted,Undrafted,Undrafted,N
15,1629029,Luka,Dončić,Luka Dončić,"Dončić, Luka",L. Dončić,luka-dončić,1999-02-28T00:00:00,Real Madrid,Slovenia,Real Madrid/Slovenia,6-8,230,7,77,Forward-Guard,Active,Y,1610612747,Lakers,LAL,lakers,Los Angeles,luka_don,2018,2025,N,Y,Y,2018,1,3,N
16,202693,Markieff,Morris,Markieff Morris,"Morris, Markieff",M. Morris,markieff-morris,1989-09-02T00:00:00,Kansas,USA,Kansas/USA,6-9,245,15,88,Forward,Inactive,N,1610612747,Lakers,LAL,lakers,Los Angeles,markieff_morris,2011,2024,N,Y,Y,2011,1,13,N

In [ ]:
LAL_current_roster['PLAYERCODE']

0       jarred_vanderbilt
1           dalton_knecht
2            gabe_vincent
3        tmp_bronny_james
4        christian_koloko
5            jaxson_hayes
6             maxi_kleber
7           austin_reaves
8     dorian_finney-smith
9            shake_milton
10           lebron_james
11               alex_len
12          rui_hachimura
13         jordan_goodwin
14           trey_jemison
15               luka_don
16        markieff_morris
Name: PLAYERCODE, dtype: object

In [ ]:
drop = ["DISPLAY_LAST_COMMA_FIRST",'LAST_AFFILIATION',"ROSTERSTATUS", "GAMES_PLAYED_CURRENT_SEASON_FLAG","TEAM_NAME","TEAM_ABBREVIATION","TEAM_CODE","TEAM_CITY","PLAYERCODE","DLEAGUE_FLAG","NBA_FLAG","GAMES_PLAYED_FLAG","DRAFT_ROUND","GREATEST_75_FLAG"]

In [ ]:
LAL_current_roster.drop(columns=drop, inplace=True)

In [ ]:
LAL_current_roster.head()

,PERSON_ID,FIRST_NAME,LAST_NAME,DISPLAY_FIRST_LAST,DISPLAY_FI_LAST,PLAYER_SLUG,BIRTHDATE,SCHOOL,COUNTRY,HEIGHT,WEIGHT,SEASON_EXP,JERSEY,POSITION,TEAM_ID,FROM_YEAR,TO_YEAR,DRAFT_YEAR,DRAFT_NUMBER
0,1629020,Jarred,Vanderbilt,Jarred Vanderbilt,J. Vanderbilt,jarred-vanderbilt,1999-04-03T00:00:00,Kentucky,USA,6-8,214,7,2,Forward,1610612747,2018,2025,2018,41
1,1642261,Dalton,Knecht,Dalton Knecht,D. Knecht,dalton-knecht,2001-04-19T00:00:00,Tennessee,USA,6-6,215,1,4,Forward,1610612747,2024,2025,2024,17
2,1629216,Gabe,Vincent,Gabe Vincent,G. Vincent,gabe-vincent,1996-06-14T00:00:00,California-Santa Barbara,USA,6-2,200,6,7,Guard,1610612747,2019,2025,Undrafted,Undrafted
3,1642355,Bronny,James,Bronny James,B. James,bronny-james,2004-10-06T00:00:00,Southern California,USA,6-2,210,1,9,Guard,1610612747,2024,2025,2024,55
4,1631132,Christian,Koloko,Christian Koloko,C. Koloko,christian-koloko,2000-06-20T00:00:00,Arizona,Cameroon,6-11,225,3,,Center,0,2022,2025,2022,33

In [ ]:
LAL_current_roster.columns

Index(['PERSON_ID', 'FIRST_NAME', 'LAST_NAME', 'DISPLAY_FIRST_LAST',
       'DISPLAY_FI_LAST', 'PLAYER_SLUG', 'BIRTHDATE', 'SCHOOL', 'COUNTRY',
       'HEIGHT', 'WEIGHT', 'SEASON_EXP', 'JERSEY', 'POSITION', 'TEAM_ID',
       'FROM_YEAR', 'TO_YEAR', 'DRAFT_YEAR', 'DRAFT_NUMBER'],
      dtype='object')

In [ ]:
def get_roster_stats_by_team(teamAbrev):
    drop = ["PLAYER_SLUG","DISPLAY_FI_LAST","DISPLAY_LAST_COMMA_FIRST",'LAST_AFFILIATION',"ROSTERSTATUS", "GAMES_PLAYED_CURRENT_SEASON_FLAG","TEAM_NAME","TEAM_ABBREVIATION","TEAM_CODE","TEAM_CITY","PLAYERCODE","DLEAGUE_FLAG","NBA_FLAG","GAMES_PLAYED_FLAG","DRAFT_ROUND","GREATEST_75_FLAG"]
    team_roster = get_team_roster_per_season(teamAbrev,'2024-25')["PLAYER_ID"].tolist()
    team_current_roster = get_roster_data(team_roster)
    team_current_roster.drop(columns=drop, inplace=True)
    
    team_current_roster.to_json(f'{teamAbrev}_roster.json', orient = 'split', compression = 'infer', index = 'true')

    return team_current_roster

In [ ]:
get_roster_stats_by_team("LAL")

,PERSON_ID,FIRST_NAME,LAST_NAME,DISPLAY_FIRST_LAST,BIRTHDATE,SCHOOL,COUNTRY,HEIGHT,WEIGHT,SEASON_EXP,JERSEY,POSITION,TEAM_ID,FROM_YEAR,TO_YEAR,DRAFT_YEAR,DRAFT_NUMBER
0,1629020,Jarred,Vanderbilt,Jarred Vanderbilt,1999-04-03T00:00:00,Kentucky,USA,6-8,214,7,2,Forward,1610612747,2018,2025,2018,41
1,1642261,Dalton,Knecht,Dalton Knecht,2001-04-19T00:00:00,Tennessee,USA,6-6,215,1,4,Forward,1610612747,2024,2025,2024,17
2,1629216,Gabe,Vincent,Gabe Vincent,1996-06-14T00:00:00,California-Santa Barbara,USA,6-2,200,6,7,Guard,1610612747,2019,2025,Undrafted,Undrafted
3,1642355,Bronny,James,Bronny James,2004-10-06T00:00:00,Southern California,USA,6-2,210,1,9,Guard,1610612747,2024,2025,2024,55
4,1631132,Christian,Koloko,Christian Koloko,2000-06-20T00:00:00,Arizona,Cameroon,6-11,225,3,,Center,0,2022,2025,2022,33
5,1629637,Jaxson,Hayes,Jaxson Hayes,2000-05-23T00:00:00,Texas,USA,7-0,220,6,11,Center-Forward,1610612747,2019,2025,2019,8
6,1628467,Maxi,Kleber,Maxi Kleber,1992-01-29T00:00:00,Bayern Munich,Germany,6-10,240,8,14,Forward,1610612747,2017,2025,Undrafted,Undrafted
7,1630559,Austin,Reaves,Austin Reaves,1998-05-29T00:00:00,Oklahoma,USA,6-5,197,4,15,Guard,1610612747,2021,2025,Undrafted,Undrafted
8,1627827,Dorian,Finney-Smith,Dorian Finney-Smith,1993-05-04T00:00:00,Florida,USA,6-7,220,9,2,Forward,1610612745,2016,2025,Undrafted,Undrafted
9,1629003,Shake,Milton,Shake Milton,1996-09-26T00:00:00,Southern Methodist,USA,6-5,205,8,20,Guard,1610612747,2018,2024,2018,54
10,2544,LeBron,James,LeBron James,1984-12-30T00:00:00,St. Vincent-St. Mary HS (OH),USA,6-9,250,22,23,Forward,1610612747,2003,2025,2003,1
11,203458,Alex,Len,Alex Len,1993-06-16T00:00:00,Maryland,Ukraine,7-0,250,13,27,Center,1610612747,2013,2024,2013,5
12,1629060,Rui,Hachimura,Rui Hachimura,1998-02-08T00:00:00,Gonzaga,Japan,6-8,230,6,28,Forward,1610612747,2019,2025,2019,9
13,1630692,Jordan,Goodwin,Jordan Goodwin,1998-10-23T00:00:00,St. Louis,USA,6-3,215,4,23,Guard,1610612756,2021,2025,Undrafted,Undrafted
14,1641998,Trey,Jemison III,Trey Jemison III,1999-11-28T00:00:00,Alabama-Birmingham,USA,6-10,270,2,50,Center,1610612752,2023,2025,Undrafted,Undrafted
15,1629029,Luka,Dončić,Luka Dončić,1999-02-28T00:00:00,Real Madrid,Slovenia,6-8,230,7,77,Forward-Guard,1610612747,2018,2025,2018,3
16,202693,Markieff,Morris,Markieff Morris,1989-09-02T00:00:00,Kansas,USA,6-9,245,15,88,Forward,1610612747,2011,2024,2011,13

In [ ]:
get_roster_stats_by_team("GSW")

,PERSON_ID,FIRST_NAME,LAST_NAME,DISPLAY_FIRST_LAST,BIRTHDATE,SCHOOL,COUNTRY,HEIGHT,WEIGHT,SEASON_EXP,JERSEY,POSITION,TEAM_ID,FROM_YEAR,TO_YEAR,DRAFT_YEAR,DRAFT_NUMBER
0,1627780,Gary,Payton II,Gary Payton II,1992-12-01T00:00:00,Oregon State,USA,6-2,195,9,0,Guard,1610612744,2016,2025,Undrafted,Undrafted
1,1630228,Jonathan,Kuminga,Jonathan Kuminga,2002-10-06T00:00:00,NBA G League Ignite,DRC,6-7,225,4,1,Forward,1610612744,2021,2025,2021,7
2,1642379,Taran,Armstrong,Taran Armstrong,2002-01-15T00:00:00,"Cairns, Australia",Australia,6-5,190,1,1,Guard,1610612744,2024,2024,Undrafted,Undrafted
3,1641764,Brandin,Podziemski,Brandin Podziemski,2003-02-25T00:00:00,Santa Clara,USA,6-4,205,2,2,Guard,1610612744,2023,2025,2023,19
4,1630541,Moses,Moody,Moses Moody,2002-05-31T00:00:00,Arkansas,USA,6-5,211,4,4,Guard,1610612744,2021,2025,2021,14
5,1626172,Kevon,Looney,Kevon Looney,1996-02-06T00:00:00,UCLA,USA,6-9,222,10,55,Forward,1610612740,2015,2025,2015,30
6,1627741,Buddy,Hield,Buddy Hield,1992-12-17T00:00:00,Oklahoma,Bahamas,6-4,220,9,7,Guard,1610612744,2016,2025,2016,6
7,202710,Jimmy,Butler III,Jimmy Butler III,1989-09-14T00:00:00,Marquette,USA,6-6,230,14,10,Forward,1610612744,2011,2025,2011,30
8,1630296,Braxton,Key,Braxton Key,1997-02-14T00:00:00,Virginia,USA,6-8,225,5,12,Forward,1610612744,2021,2024,Undrafted,Undrafted
9,1630611,Gui,Santos,Gui Santos,2002-06-22T00:00:00,Minas,Brazil,6-7,185,2,15,Forward,1610612744,2023,2025,2022,55
10,1642366,Quinten,Post,Quinten Post,2000-03-21T00:00:00,Boston College,Netherlands,7-0,238,1,21,Center,1610612744,2024,2025,2024,52
11,203110,Draymond,Green,Draymond Green,1990-03-04T00:00:00,Michigan State,USA,6-6,230,13,23,Forward,1610612744,2012,2025,2012,35
12,201939,Stephen,Curry,Stephen Curry,1988-03-14T00:00:00,Davidson,USA,6-2,185,16,30,Guard,1610612744,2009,2025,2009,7
13,1628995,Kevin,Knox II,Kevin Knox II,1999-08-11T00:00:00,Kentucky,USA,6-8,215,8,31,Forward,1610612744,2018,2024,2018,9
14,1631218,Trayce,Jackson-Davis,Trayce Jackson-Davis,2000-02-22T00:00:00,Indiana,USA,6-9,245,2,32,Forward,1610612744,2023,2025,2023,57
15,1642050,Jackson,Rowe,Jackson Rowe,1997-01-04T00:00:00,Cal State-Fullerton,Canada,6-7,210,2,44,Forward,1610612744,2024,2024,Undrafted,Undrafted
16,1630311,Pat,Spencer,Pat Spencer,1996-07-04T00:00:00,Northwestern,USA,6-2,205,2,61,Guard,1610612744,2023,2025,Undrafted,Undrafted

In [ ]:
get_roster_stats_by_team("DEN")

,PERSON_ID,FIRST_NAME,LAST_NAME,DISPLAY_FIRST_LAST,BIRTHDATE,SCHOOL,COUNTRY,HEIGHT,WEIGHT,SEASON_EXP,JERSEY,POSITION,TEAM_ID,FROM_YEAR,TO_YEAR,DRAFT_YEAR,DRAFT_NUMBER
0,1631128,Christian,Braun,Christian Braun,2001-04-17T00:00:00,Kansas,USA,6-6,220,3,0,Guard,1610612743,2022,2025,2022,21
1,1629008,Michael,Porter Jr.,Michael Porter Jr.,1998-06-29T00:00:00,Missouri,USA,6-10,218,6,17,Forward,1610612751,2018,2025,2018,14
2,1631124,Julian,Strawther,Julian Strawther,2002-04-18T00:00:00,Gonzaga,USA,6-6,205,2,3,Guard,1610612743,2023,2025,2023,29
3,201566,Russell,Westbrook,Russell Westbrook,1988-11-12T00:00:00,UCLA,USA,6-4,200,17,18,Guard,1610612758,2008,2025,2008,4
4,1641816,Hunter,Tyson,Hunter Tyson,2000-06-13T00:00:00,Clemson,USA,6-8,215,2,5,Forward,1610612743,2023,2025,2023,37
5,201599,DeAndre,Jordan,DeAndre Jordan,1988-07-21T00:00:00,Texas A&M,USA,6-11,265,17,9,Center,1610612740,2008,2025,2008,35
6,1631212,Peyton,Watson,Peyton Watson,2002-09-11T00:00:00,UCLA,USA,6-8,200,3,8,Guard,1610612743,2022,2025,2022,30
7,203967,Dario,Šarić,Dario Šarić,1994-04-08T00:00:00,Anadolu Efes,Croatia,6-10,225,9,20,Forward-Center,1610612758,2016,2025,2014,12
8,1641790,PJ,Hall,PJ Hall,2002-02-21T00:00:00,Clemson,USA,6-8,245,1,,Center,0,2024,2025,Undrafted,Undrafted
9,1641747,DaRon,Holmes II,DaRon Holmes II,2002-08-15T00:00:00,Dayton,USA,6-9,225,0,14,Forward,1610612743,2024,2025,2024,22
10,203999,Nikola,Jokić,Nikola Jokić,1995-02-19T00:00:00,Mega Basket,Serbia,6-11,284,10,15,Center,1610612743,2015,2025,2014,41
11,1642461,Spencer,Jones,Spencer Jones,2001-06-14T00:00:00,Stanford,USA,6-7,225,1,21,Forward,1610612743,2024,2025,Undrafted,Undrafted
12,1630192,Zeke,Nnaji,Zeke Nnaji,2001-01-09T00:00:00,Arizona,USA,6-10,240,5,22,Forward-Center,1610612743,2020,2025,2020,22
13,1641725,Trey,Alexander,Trey Alexander,2003-05-02T00:00:00,Creighton,USA,6-5,185,1,23,Guard,1610612740,2024,2025,Undrafted,Undrafted
14,1629618,Jalen,Pickett,Jalen Pickett,1999-10-22T00:00:00,Penn State,USA,6-2,202,2,24,Guard,1610612743,2023,2025,2023,32
15,1627750,Jamal,Murray,Jamal Murray,1997-02-23T00:00:00,Kentucky,Canada,6-4,215,9,27,Guard,1610612743,2016,2025,2016,7
16,1628427,Vlatko,Čančar,Vlatko Čančar,1997-04-10T00:00:00,San Pablo Burgos,Slovenia,6-8,236,7,31,Forward,1610612743,2019,2024,2017,49
17,203932,Aaron,Gordon,Aaron Gordon,1995-09-16T00:00:00,Arizona,USA,6-8,235,11,32,Forward,1610612743,2014,2025,2014,4

In [ ]:
get_roster_stats_by_team("DAL")

,PERSON_ID,FIRST_NAME,LAST_NAME,DISPLAY_FIRST_LAST,BIRTHDATE,SCHOOL,COUNTRY,HEIGHT,WEIGHT,SEASON_EXP,JERSEY,POSITION,TEAM_ID,FROM_YEAR,TO_YEAR,DRAFT_YEAR,DRAFT_NUMBER
0,203957,Danté,Exum,Danté Exum,1995-07-13T00:00:00,Australian Institute of Sport,Australia,6-5,214,9,0,Guard,1610612742,2014,2025,2014,5
1,1631108,Max,Christie,Max Christie,2003-02-10T00:00:00,Michigan State,USA,6-5,190,3,00,Guard,1610612742,2022,2025,2022,35
2,1630702,Jaden,Hardy,Jaden Hardy,2002-07-05T00:00:00,NBA G League Ignite,USA,6-3,198,3,1,Guard,1610612742,2021,2025,2022,37
3,1641726,Dereck,Lively II,Dereck Lively II,2004-02-12T00:00:00,Duke,USA,7-1,230,2,2,Center,1610612742,2023,2025,2023,12
4,203076,Anthony,Davis,Anthony Davis,1993-03-11T00:00:00,Kentucky,USA,6-10,253,13,3,Forward-Center,1610612742,2012,2025,2012,1
5,203939,Dwight,Powell,Dwight Powell,1991-07-20T00:00:00,Stanford,Canada,6-10,240,11,7,Forward-Center,1610612742,2014,2025,2014,45
6,1641765,Olivier-Maxence,Prosper,Olivier-Maxence Prosper,2002-07-03T00:00:00,Marquette,Canada,6-7,230,2,18,Forward,1610612763,2023,2025,2023,24
7,1630314,Brandon,Williams,Brandon Williams,1999-11-22T00:00:00,Arizona,USA,6-1,190,3,10,Guard,1610612742,2021,2025,Undrafted,Undrafted
8,202681,Kyrie,Irving,Kyrie Irving,1992-03-23T00:00:00,Duke,Australia,6-2,195,14,11,Guard,1610612742,2011,2025,2011,1
9,1630230,Naji,Marshall,Naji Marshall,1998-01-24T00:00:00,Xavier,USA,6-6,220,5,13,Forward,1610612742,2020,2025,Undrafted,Undrafted
10,1628997,Caleb,Martin,Caleb Martin,1995-09-28T00:00:00,Nevada,USA,6-5,205,6,16,Forward,1610612742,2019,2025,Undrafted,Undrafted
11,1630556,Kessler,Edwards,Kessler Edwards,2000-08-09T00:00:00,Pepperdine,USA,6-7,203,5,20,Forward,1610612742,2021,2024,2021,44
12,1629655,Daniel,Gafford,Daniel Gafford,1998-10-01T00:00:00,Arkansas,USA,6-10,265,6,21,Forward-Center,1610612742,2019,2025,2019,38
13,1630539,Kai,Jones,Kai Jones,2001-01-19T00:00:00,Texas,Bahamas,6-11,221,4,23,Center-Forward,1610612742,2021,2024,2021,19
14,1629023,P.J.,Washington,P.J. Washington,1998-08-23T00:00:00,Kentucky,USA,6-7,230,6,25,Forward,1610612742,2019,2025,2019,12
15,203915,Spencer,Dinwiddie,Spencer Dinwiddie,1993-04-06T00:00:00,Colorado,USA,6-5,215,12,26,Guard,1610612742,2014,2024,2014,38
16,202691,Klay,Thompson,Klay Thompson,1990-02-08T00:00:00,Washington State,USA,6-5,220,14,31,Guard,1610612742,2011,2025,2011,11