In [1]:
from nba_api.stats.endpoints import playercareerstats
import matplotlib.pyplot as plt
from nba_api.stats.static import players
import seaborn as sns
import numpy as np
import pandas as pd
from json import loads, dumps

In [2]:
from nba_api.stats.static import teams
from nba_api.stats.endpoints import commonteamroster
from nba_api.stats.endpoints import teamgamelog
from nba_api.stats.endpoints import commonteamroster
from datetime import datetime, timezone
from dateutil import parser
from nba_api.live.nba.endpoints import scoreboard

In [3]:
from nba_api.stats.static import players
from nba_api.stats.endpoints import commonplayerinfo, playercareerstats

# Get all players (returns a list of dictionaries with basic info)
all_players = players.get_players()

# Find a specific player by name
player = players.find_players_by_full_name('LeBron James')[0]  # Returns list, get first match
# OR find by last name
players_named_james = players.find_players_by_last_name('James')
# OR find by first name
players_named_lebron = players.find_players_by_first_name('LeBron')

# Get player ID
player_id = player['id']

# Get detailed player information (non-statistical)
player_info = commonplayerinfo.CommonPlayerInfo(player_id=player_id)
player_info_dict = player_info.get_normalized_dict()
player_common_info = player_info_dict['CommonPlayerInfo'][0]

# This gives you access to:
# - Name, height, weight, etc.
# - Birth date, country
# - Draft information
# - Position, jersey number
# - Team information

In [4]:
lebron_df =  player_info.get_data_frames()[0]

In [5]:
lebron_df.columns

Index(['PERSON_ID', 'FIRST_NAME', 'LAST_NAME', 'DISPLAY_FIRST_LAST',
       'DISPLAY_LAST_COMMA_FIRST', 'DISPLAY_FI_LAST', 'PLAYER_SLUG',
       'BIRTHDATE', 'SCHOOL', 'COUNTRY', 'LAST_AFFILIATION', 'HEIGHT',
       'WEIGHT', 'SEASON_EXP', 'JERSEY', 'POSITION', 'ROSTERSTATUS',
       'GAMES_PLAYED_CURRENT_SEASON_FLAG', 'TEAM_ID', 'TEAM_NAME',
       'TEAM_ABBREVIATION', 'TEAM_CODE', 'TEAM_CITY', 'PLAYERCODE',
       'FROM_YEAR', 'TO_YEAR', 'DLEAGUE_FLAG', 'NBA_FLAG', 'GAMES_PLAYED_FLAG',
       'DRAFT_YEAR', 'DRAFT_ROUND', 'DRAFT_NUMBER', 'GREATEST_75_FLAG'],
      dtype='object')

In [6]:
columns = lebron_df.columns.tolist()

In [7]:
print(columns)

['PERSON_ID', 'FIRST_NAME', 'LAST_NAME', 'DISPLAY_FIRST_LAST', 'DISPLAY_LAST_COMMA_FIRST', 'DISPLAY_FI_LAST', 'PLAYER_SLUG', 'BIRTHDATE', 'SCHOOL', 'COUNTRY', 'LAST_AFFILIATION', 'HEIGHT', 'WEIGHT', 'SEASON_EXP', 'JERSEY', 'POSITION', 'ROSTERSTATUS', 'GAMES_PLAYED_CURRENT_SEASON_FLAG', 'TEAM_ID', 'TEAM_NAME', 'TEAM_ABBREVIATION', 'TEAM_CODE', 'TEAM_CITY', 'PLAYERCODE', 'FROM_YEAR', 'TO_YEAR', 'DLEAGUE_FLAG', 'NBA_FLAG', 'GAMES_PLAYED_FLAG', 'DRAFT_YEAR', 'DRAFT_ROUND', 'DRAFT_NUMBER', 'GREATEST_75_FLAG']

In [8]:
lebron_df.columns

Index(['PERSON_ID', 'FIRST_NAME', 'LAST_NAME', 'DISPLAY_FIRST_LAST',
       'DISPLAY_LAST_COMMA_FIRST', 'DISPLAY_FI_LAST', 'PLAYER_SLUG',
       'BIRTHDATE', 'SCHOOL', 'COUNTRY', 'LAST_AFFILIATION', 'HEIGHT',
       'WEIGHT', 'SEASON_EXP', 'JERSEY', 'POSITION', 'ROSTERSTATUS',
       'GAMES_PLAYED_CURRENT_SEASON_FLAG', 'TEAM_ID', 'TEAM_NAME',
       'TEAM_ABBREVIATION', 'TEAM_CODE', 'TEAM_CITY', 'PLAYERCODE',
       'FROM_YEAR', 'TO_YEAR', 'DLEAGUE_FLAG', 'NBA_FLAG', 'GAMES_PLAYED_FLAG',
       'DRAFT_YEAR', 'DRAFT_ROUND', 'DRAFT_NUMBER', 'GREATEST_75_FLAG'],
      dtype='object')

In [9]:
lebron_df

,PERSON_ID,FIRST_NAME,LAST_NAME,DISPLAY_FIRST_LAST,DISPLAY_LAST_COMMA_FIRST,DISPLAY_FI_LAST,PLAYER_SLUG,BIRTHDATE,SCHOOL,COUNTRY,...,PLAYERCODE,FROM_YEAR,TO_YEAR,DLEAGUE_FLAG,NBA_FLAG,GAMES_PLAYED_FLAG,DRAFT_YEAR,DRAFT_ROUND,DRAFT_NUMBER,GREATEST_75_FLAG
0,2544,LeBron,James,LeBron James,"James, LeBron",L. James,lebron-james,1984-12-30T00:00:00,St. Vincent-St. Mary HS (OH),USA,...,lebron_james,2003,2024,N,Y,Y,2003,1,1,Y

In [11]:
from nba_api.stats.endpoints import playercareerstats
from nba_api.stats.static import players
import pandas as pd

# Buscar jugador por nombre
player_dict = players.find_players_by_full_name("LeBron James")[0]
player_id = player_dict['id']

# Obtener estadísticas de carrera
career = playercareerstats.PlayerCareerStats(player_id=player_id)
df = career.get_data_frames()[0]

# Mostrar estadísticas por temporada
df

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
0,2544,2003-04,00,1610612739,CLE,19.0,79,79,3120,622,...,0.754,99,333,432,465,130,58,273,149,1654
1,2544,2004-05,00,1610612739,CLE,20.0,80,80,3388,795,...,0.750,111,477,588,577,177,52,262,146,2175
2,2544,2005-06,00,1610612739,CLE,21.0,79,79,3361,875,...,0.738,75,481,556,521,123,66,260,181,2478
3,2544,2006-07,00,1610612739,CLE,22.0,78,78,3190,772,...,0.698,83,443,526,470,125,55,250,171,2132
4,2544,2007-08,00,1610612739,CLE,23.0,75,74,3027,794,...,0.712,133,459,592,539,138,81,255,165,2250
5,2544,2008-09,00,1610612739,CLE,24.0,81,81,3054,789,...,0.780,106,507,613,587,137,93,241,139,2304
6,2544,2009-10,00,1610612739,CLE,25.0,76,76,2966,768,...,0.767,71,483,554,651,125,77,261,119,2258
7,2544,2010-11,00,1610612748,MIA,26.0,79,79,3063,758,...,0.759,80,510,590,554,124,50,284,163,2111
8,2544,2011-12,00,1610612748,MIA,27.0,62,62,2326,621,...,0.771,94,398,492,387,115,50,213,96,1683
9,2544,2012-13,00,1610612748,MIA,28.0,76,76,2877,765,...,0.753,97,513,610,551,129,67,226,110,2036
10,2544,2013-14,00,1610612748,MIA,29.0,77,77,2902,767,...,0.750,81,452,533,488,121,26,270,126,2089
11,2544,2014-15,00,1610612739,CLE,30.0,69,69,2493,624,...,0.710,51,365,416,511,109,49,272,135,1743
12,2544,2015-16,00,1610612739,CLE,31.0,76,76,2709,737,...,0.731,111,454,565,514,104,49,249,143,1920
13,2544,2016-17,00,1610612739,CLE,32.0,74,74,2795,736,...,0.674,97,542,639,646,92,44,303,134,1954
14,2544,2017-18,00,1610612739,CLE,33.0,82,82,3026,857,...,0.731,97,612,709,747,116,71,347,136,2251
15,2544,2018-19,00,1610612747,LAL,34.0,55,55,1937,558,...,0.665,57,408,465,454,72,33,197,94,1505
16,2544,2019-20,00,1610612747,LAL,35.0,67,67,2316,643,...,0.693,66,459,525,684,78,36,261,118,1698
17,2544,2020-21,00,1610612747,LAL,36.0,45,45,1504,422,...,0.698,29,317,346,350,48,25,168,70,1126
18,2544,2021-22,00,1610612747,LAL,37.0,56,56,2084,640,...,0.756,63,396,459,349,73,59,196,121,1695
19,2544,2022-23,00,1610612747,LAL,38.0,55,54,1954,609,...,0.768,65,392,457,375,50,32,178,88,1590
20,2544,2023-24,00,1610612747,LAL,39.0,71,71,2504,685,...,0.750,61,457,518,589,89,38,245,78,1822
21,2544,2024-25,00,1610612747,LAL,40.0,70,70,2444,651,...,0.782,72,474,546,575,70,39,260,99,1710

In [12]:
df.columns

Index(['PLAYER_ID', 'SEASON_ID', 'LEAGUE_ID', 'TEAM_ID', 'TEAM_ABBREVIATION',
       'PLAYER_AGE', 'GP', 'GS', 'MIN', 'FGM', 'FGA', 'FG_PCT', 'FG3M', 'FG3A',
       'FG3_PCT', 'FTM', 'FTA', 'FT_PCT', 'OREB', 'DREB', 'REB', 'AST', 'STL',
       'BLK', 'TOV', 'PF', 'PTS'],
      dtype='object')

In [12]:
def get_team_roster_per_season(teamAbbreviation:str, season:str) -> pd.DataFrame:
    team_details = teams.find_team_by_abbreviation(teamAbbreviation)
    team_id = team_details["id"]
    roster = commonteamroster.CommonTeamRoster(team_id=team_id, season=season)
    roster_data = roster.get_data_frames()[0]
    return roster_data

In [13]:
LAL_roster = get_team_roster_per_season("LAL",'2024-25')["PLAYER_ID"].tolist()

In [14]:
LAL_roster

[1629020,
 1642261,
 1629629,
 1629216,
 1642355,
 1631132,
 1629637,
 1628467,
 1630559,
 1627827,
 1629003,
 2544,
 203458,
 1629060,
 1630692,
 1641998,
 1629029,
 202693]

In [56]:
players = [2544, 203458]
columns = ['PERSON_ID', 'FIRST_NAME', 'LAST_NAME', 'DISPLAY_FIRST_LAST', 'DISPLAY_LAST_COMMA_FIRST', 'DISPLAY_FI_LAST', 'PLAYER_SLUG', 'BIRTHDATE', 'SCHOOL', 'COUNTRY', 'LAST_AFFILIATION', 'HEIGHT', 'WEIGHT', 'SEASON_EXP', 'JERSEY', 'POSITION', 'ROSTERSTATUS', 'GAMES_PLAYED_CURRENT_SEASON_FLAG', 'TEAM_ID', 'TEAM_NAME', 'TEAM_ABBREVIATION', 'TEAM_CODE', 'TEAM_CITY', 'PLAYERCODE', 'FROM_YEAR', 'TO_YEAR', 'DLEAGUE_FLAG', 'NBA_FLAG', 'GAMES_PLAYED_FLAG', 'DRAFT_YEAR', 'DRAFT_ROUND', 'DRAFT_NUMBER', 'GREATEST_75_FLAG']
empty_df = pd.DataFrame(columns=columns)


for player_id in players:
    player_info = commonplayerinfo.CommonPlayerInfo(player_id=player_id)
    player_info_dict = player_info.get_normalized_dict()
    player_common_info = player_info_dict['CommonPlayerInfo'][0]

    empty_df.loc[len(empty_df)] = player_common_info

   PERSON_ID FIRST_NAME LAST_NAME DISPLAY_FIRST_LAST DISPLAY_LAST_COMMA_FIRST  \
0       2544     LeBron     James       LeBron James            James, LeBron
1     203458       Alex       Len           Alex Len                Len, Alex

  DISPLAY_FI_LAST   PLAYER_SLUG            BIRTHDATE  \
0        L. James  lebron-james  1984-12-30T00:00:00
1          A. Len      alex-len  1993-06-16T00:00:00

                         SCHOOL  COUNTRY  ...    PLAYERCODE FROM_YEAR TO_YEAR  \
0  St. Vincent-St. Mary HS (OH)      USA  ...  lebron_james      2003    2024
1                      Maryland  Ukraine  ...      alex_len      2013    2024

   DLEAGUE_FLAG NBA_FLAG GAMES_PLAYED_FLAG DRAFT_YEAR DRAFT_ROUND  \
0             N        Y                 Y       2003           1
1             N        Y                 Y       2013           1

   DRAFT_NUMBER GREATEST_75_FLAG
0             1                Y
1             5                N

[2 rows x 33 columns]

In [30]:
empty_df

NameError: name 'empty_df' is not defined

In [35]:
import time 
def get_roster_data(roster):
    columns = ['PERSON_ID', 'FIRST_NAME', 'LAST_NAME', 'DISPLAY_FIRST_LAST', 'DISPLAY_LAST_COMMA_FIRST', 'DISPLAY_FI_LAST', 'PLAYER_SLUG', 'BIRTHDATE', 'SCHOOL', 'COUNTRY', 'LAST_AFFILIATION', 'HEIGHT', 'WEIGHT', 'SEASON_EXP', 'JERSEY', 'POSITION', 'ROSTERSTATUS', 'GAMES_PLAYED_CURRENT_SEASON_FLAG', 'TEAM_ID', 'TEAM_NAME', 'TEAM_ABBREVIATION', 'TEAM_CODE', 'TEAM_CITY', 'PLAYERCODE', 'FROM_YEAR', 'TO_YEAR', 'DLEAGUE_FLAG', 'NBA_FLAG', 'GAMES_PLAYED_FLAG', 'DRAFT_YEAR', 'DRAFT_ROUND', 'DRAFT_NUMBER', 'GREATEST_75_FLAG']
    empty_df = pd.DataFrame(columns=columns)
    
    for player_id in roster:
        player_info = commonplayerinfo.CommonPlayerInfo(player_id=player_id)
        player_info_dict = player_info.get_normalized_dict()
        player_common_info = player_info_dict['CommonPlayerInfo'][0]
    
        empty_df.loc[len(empty_df)] = player_common_info

        time.sleep(0.8)
        

    return empty_df

In [36]:
LAL_current_roster = get_roster_data(LAL_roster)

In [38]:
LAL_current_roster.columns

Index(['PERSON_ID', 'FIRST_NAME', 'LAST_NAME', 'DISPLAY_FIRST_LAST',
       'DISPLAY_LAST_COMMA_FIRST', 'DISPLAY_FI_LAST', 'PLAYER_SLUG',
       'BIRTHDATE', 'SCHOOL', 'COUNTRY', 'LAST_AFFILIATION', 'HEIGHT',
       'WEIGHT', 'SEASON_EXP', 'JERSEY', 'POSITION', 'ROSTERSTATUS',
       'GAMES_PLAYED_CURRENT_SEASON_FLAG', 'TEAM_ID', 'TEAM_NAME',
       'TEAM_ABBREVIATION', 'TEAM_CODE', 'TEAM_CITY', 'PLAYERCODE',
       'FROM_YEAR', 'TO_YEAR', 'DLEAGUE_FLAG', 'NBA_FLAG', 'GAMES_PLAYED_FLAG',
       'DRAFT_YEAR', 'DRAFT_ROUND', 'DRAFT_NUMBER', 'GREATEST_75_FLAG'],
      dtype='object')

In [50]:
LAL_current_roster

,PERSON_ID,FIRST_NAME,LAST_NAME,DISPLAY_FIRST_LAST,DISPLAY_LAST_COMMA_FIRST,DISPLAY_FI_LAST,PLAYER_SLUG,BIRTHDATE,SCHOOL,COUNTRY,...,PLAYERCODE,FROM_YEAR,TO_YEAR,DLEAGUE_FLAG,NBA_FLAG,GAMES_PLAYED_FLAG,DRAFT_YEAR,DRAFT_ROUND,DRAFT_NUMBER,GREATEST_75_FLAG
0,1629020,Jarred,Vanderbilt,Jarred Vanderbilt,"Vanderbilt, Jarred",J. Vanderbilt,jarred-vanderbilt,1999-04-03T00:00:00,Kentucky,USA,...,jarred_vanderbilt,2018,2024,Y,Y,Y,2018,2,41,N
1,1642261,Dalton,Knecht,Dalton Knecht,"Knecht, Dalton",D. Knecht,dalton-knecht,2001-04-19T00:00:00,Tennessee,USA,...,dalton_knecht,2024,2024,N,Y,Y,2024,1,17,N
2,1629629,Cam,Reddish,Cam Reddish,"Reddish, Cam",C. Reddish,cam-reddish,1999-09-01T00:00:00,Duke,USA,...,cameron_reddish,2019,2024,N,Y,Y,2019,1,10,N
3,1629216,Gabe,Vincent,Gabe Vincent,"Vincent, Gabe",G. Vincent,gabe-vincent,1996-06-14T00:00:00,California-Santa Barbara,USA,...,gabe_vincent,2019,2024,Y,Y,Y,Undrafted,Undrafted,Undrafted,N
4,1642355,Bronny,James,Bronny James,"James, Bronny",B. James,bronny-james,2004-10-06T00:00:00,Southern California,USA,...,tmp_bronny_james,2024,2024,Y,Y,Y,2024,2,55,N
5,1631132,Christian,Koloko,Christian Koloko,"Koloko, Christian",C. Koloko,christian-koloko,2000-06-20T00:00:00,Arizona,Cameroon,...,christian_koloko,2022,2024,Y,Y,Y,2022,2,33,N
6,1629637,Jaxson,Hayes,Jaxson Hayes,"Hayes, Jaxson",J. Hayes,jaxson-hayes,2000-05-23T00:00:00,Texas,USA,...,jaxson_hayes,2019,2024,Y,Y,Y,2019,1,8,N
7,1628467,Maxi,Kleber,Maxi Kleber,"Kleber, Maxi",M. Kleber,maxi-kleber,1992-01-29T00:00:00,Bayern Munich,Germany,...,maxi_kleber,2017,2024,N,Y,Y,Undrafted,Undrafted,Undrafted,N
8,1630559,Austin,Reaves,Austin Reaves,"Reaves, Austin",A. Reaves,austin-reaves,1998-05-29T00:00:00,Oklahoma,USA,...,austin_reaves,2021,2024,N,Y,Y,Undrafted,Undrafted,Undrafted,N
9,1627827,Dorian,Finney-Smith,Dorian Finney-Smith,"Finney-Smith, Dorian",D. Finney-Smith,dorian-finney-smith,1993-05-04T00:00:00,Florida,USA,...,dorian_finney-smith,2016,2024,N,Y,Y,Undrafted,Undrafted,Undrafted,N
10,1629003,Shake,Milton,Shake Milton,"Milton, Shake",S. Milton,shake-milton,1996-09-26T00:00:00,Southern Methodist,USA,...,shake_milton,2018,2024,Y,Y,Y,2018,2,54,N
11,2544,LeBron,James,LeBron James,"James, LeBron",L. James,lebron-james,1984-12-30T00:00:00,St. Vincent-St. Mary HS (OH),USA,...,lebron_james,2003,2024,N,Y,Y,2003,1,1,Y
12,203458,Alex,Len,Alex Len,"Len, Alex",A. Len,alex-len,1993-06-16T00:00:00,Maryland,Ukraine,...,alex_len,2013,2024,N,Y,Y,2013,1,5,N
13,1629060,Rui,Hachimura,Rui Hachimura,"Hachimura, Rui",R. Hachimura,rui-hachimura,1998-02-08T00:00:00,Gonzaga,Japan,...,rui_hachimura,2019,2024,N,Y,Y,2019,1,9,N
14,1630692,Jordan,Goodwin,Jordan Goodwin,"Goodwin, Jordan",J. Goodwin,jordan-goodwin,1998-10-23T00:00:00,St. Louis,USA,...,jordan_goodwin,2021,2024,Y,Y,Y,Undrafted,Undrafted,Undrafted,N
15,1641998,Trey,Jemison III,Trey Jemison III,"Jemison III, Trey",T. Jemison III,trey-jemison-iii,1999-11-28T00:00:00,Alabama-Birmingham,USA,...,trey_jemison,2023,2024,Y,Y,Y,Undrafted,Undrafted,Undrafted,N
16,1629029,Luka,Dončić,Luka Dončić,"Dončić, Luka",L. Dončić,luka-dončić,1999-02-28T00:00:00,Real Madrid,Slovenia,...,luka_don,2018,2024,N,Y,Y,2018,1,3,N
17,202693,Markieff,Morris,Markieff Morris,"Morris, Markieff",M. Morris,markieff-morris,1989-09-02T00:00:00,Kansas,USA,...,markieff_morris,2011,2024,N,Y,Y,2011,1,13,N

In [48]:
LAL_current_roster['PLAYERCODE']

0       jarred_vanderbilt
1           dalton_knecht
2         cameron_reddish
3            gabe_vincent
4        tmp_bronny_james
5        christian_koloko
6            jaxson_hayes
7             maxi_kleber
8           austin_reaves
9     dorian_finney-smith
10           shake_milton
11           lebron_james
12               alex_len
13          rui_hachimura
14         jordan_goodwin
15           trey_jemison
16               luka_don
17        markieff_morris
Name: PLAYERCODE, dtype: object

In [51]:
drop = ["DISPLAY_LAST_COMMA_FIRST",'LAST_AFFILIATION',"ROSTERSTATUS", "GAMES_PLAYED_CURRENT_SEASON_FLAG","TEAM_NAME","TEAM_ABBREVIATION","TEAM_CODE","TEAM_CITY","PLAYERCODE","DLEAGUE_FLAG","NBA_FLAG","GAMES_PLAYED_FLAG","DRAFT_ROUND","GREATEST_75_FLAG"]

In [54]:
LAL_current_roster.drop(columns=drop, inplace=True)

In [56]:
LAL_current_roster.head()

,PERSON_ID,FIRST_NAME,LAST_NAME,DISPLAY_FIRST_LAST,DISPLAY_FI_LAST,PLAYER_SLUG,BIRTHDATE,SCHOOL,COUNTRY,HEIGHT,WEIGHT,SEASON_EXP,JERSEY,POSITION,TEAM_ID,FROM_YEAR,TO_YEAR,DRAFT_YEAR,DRAFT_NUMBER
0,1629020,Jarred,Vanderbilt,Jarred Vanderbilt,J. Vanderbilt,jarred-vanderbilt,1999-04-03T00:00:00,Kentucky,USA,6-8,214,6,2,Forward,1610612747,2018,2024,2018,41
1,1642261,Dalton,Knecht,Dalton Knecht,D. Knecht,dalton-knecht,2001-04-19T00:00:00,Tennessee,USA,6-6,215,0,4,Forward,1610612747,2024,2024,2024,17
2,1629629,Cam,Reddish,Cam Reddish,C. Reddish,cam-reddish,1999-09-01T00:00:00,Duke,USA,6-7,217,5,5,Forward-Guard,1610612747,2019,2024,2019,10
3,1629216,Gabe,Vincent,Gabe Vincent,G. Vincent,gabe-vincent,1996-06-14T00:00:00,California-Santa Barbara,USA,6-2,200,5,7,Guard,1610612747,2019,2024,Undrafted,Undrafted
4,1642355,Bronny,James,Bronny James,B. James,bronny-james,2004-10-06T00:00:00,Southern California,USA,6-3,210,0,9,Guard,1610612747,2024,2024,2024,55

In [57]:
LAL_current_roster.columns

Index(['PERSON_ID', 'FIRST_NAME', 'LAST_NAME', 'DISPLAY_FIRST_LAST',
       'DISPLAY_FI_LAST', 'PLAYER_SLUG', 'BIRTHDATE', 'SCHOOL', 'COUNTRY',
       'HEIGHT', 'WEIGHT', 'SEASON_EXP', 'JERSEY', 'POSITION', 'TEAM_ID',
       'FROM_YEAR', 'TO_YEAR', 'DRAFT_YEAR', 'DRAFT_NUMBER'],
      dtype='object')

In [70]:
def get_roster_stats_by_team(teamAbrev):
    drop = ["PLAYER_SLUG","DISPLAY_FI_LAST","DISPLAY_LAST_COMMA_FIRST",'LAST_AFFILIATION',"ROSTERSTATUS", "GAMES_PLAYED_CURRENT_SEASON_FLAG","TEAM_NAME","TEAM_ABBREVIATION","TEAM_CODE","TEAM_CITY","PLAYERCODE","DLEAGUE_FLAG","NBA_FLAG","GAMES_PLAYED_FLAG","DRAFT_ROUND","GREATEST_75_FLAG"]
    team_roster = get_team_roster_per_season(teamAbrev,'2024-25')["PLAYER_ID"].tolist()
    team_current_roster = get_roster_data(team_roster)
    team_current_roster.drop(columns=drop, inplace=True)
    
    team_current_roster.to_json(f'{teamAbrev}_roster.json', orient = 'split', compression = 'infer', index = 'true')

    return team_current_roster

In [75]:
get_roster_stats_by_team("LAL")

,PERSON_ID,FIRST_NAME,LAST_NAME,DISPLAY_FIRST_LAST,BIRTHDATE,SCHOOL,COUNTRY,HEIGHT,WEIGHT,SEASON_EXP,JERSEY,POSITION,TEAM_ID,FROM_YEAR,TO_YEAR,DRAFT_YEAR,DRAFT_NUMBER
0,1629020,Jarred,Vanderbilt,Jarred Vanderbilt,1999-04-03T00:00:00,Kentucky,USA,6-8,214,6,2,Forward,1610612747,2018,2024,2018,41
1,1642261,Dalton,Knecht,Dalton Knecht,2001-04-19T00:00:00,Tennessee,USA,6-6,215,0,4,Forward,1610612747,2024,2024,2024,17
2,1629629,Cam,Reddish,Cam Reddish,1999-09-01T00:00:00,Duke,USA,6-7,217,5,5,Forward-Guard,1610612747,2019,2024,2019,10
3,1629216,Gabe,Vincent,Gabe Vincent,1996-06-14T00:00:00,California-Santa Barbara,USA,6-2,200,5,7,Guard,1610612747,2019,2024,Undrafted,Undrafted
4,1642355,Bronny,James,Bronny James,2004-10-06T00:00:00,Southern California,USA,6-3,210,0,9,Guard,1610612747,2024,2024,2024,55
5,1631132,Christian,Koloko,Christian Koloko,2000-06-20T00:00:00,Arizona,Cameroon,7-0,225,1,10,Center,1610612747,2022,2024,2022,33
6,1629637,Jaxson,Hayes,Jaxson Hayes,2000-05-23T00:00:00,Texas,USA,7-0,220,5,11,Center-Forward,1610612747,2019,2024,2019,8
7,1628467,Maxi,Kleber,Maxi Kleber,1992-01-29T00:00:00,Bayern Munich,Germany,6-10,240,7,14,Forward,1610612747,2017,2024,Undrafted,Undrafted
8,1630559,Austin,Reaves,Austin Reaves,1998-05-29T00:00:00,Oklahoma,USA,6-5,197,3,15,Guard,1610612747,2021,2024,Undrafted,Undrafted
9,1627827,Dorian,Finney-Smith,Dorian Finney-Smith,1993-05-04T00:00:00,Florida,USA,6-7,220,8,17,Forward,1610612747,2016,2024,Undrafted,Undrafted
10,1629003,Shake,Milton,Shake Milton,1996-09-26T00:00:00,Southern Methodist,USA,6-5,205,6,20,Guard,1610612747,2018,2024,2018,54
11,2544,LeBron,James,LeBron James,1984-12-30T00:00:00,St. Vincent-St. Mary HS (OH),USA,6-9,250,21,23,Forward,1610612747,2003,2024,2003,1
12,203458,Alex,Len,Alex Len,1993-06-16T00:00:00,Maryland,Ukraine,7-0,250,11,27,Center,1610612747,2013,2024,2013,5
13,1629060,Rui,Hachimura,Rui Hachimura,1998-02-08T00:00:00,Gonzaga,Japan,6-8,230,5,28,Forward,1610612747,2019,2024,2019,9
14,1630692,Jordan,Goodwin,Jordan Goodwin,1998-10-23T00:00:00,St. Louis,USA,6-5,215,3,30,Guard,1610612747,2021,2024,Undrafted,Undrafted
15,1641998,Trey,Jemison III,Trey Jemison III,1999-11-28T00:00:00,Alabama-Birmingham,USA,6-11,270,1,55,Center,1610612747,2023,2024,Undrafted,Undrafted
16,1629029,Luka,Dončić,Luka Dončić,1999-02-28T00:00:00,Real Madrid,Slovenia,6-6,230,6,77,Forward-Guard,1610612747,2018,2024,2018,3
17,202693,Markieff,Morris,Markieff Morris,1989-09-02T00:00:00,Kansas,USA,6-9,245,13,88,Forward,1610612747,2011,2024,2011,13

In [71]:
get_roster_stats_by_team("GSW")

,PERSON_ID,FIRST_NAME,LAST_NAME,DISPLAY_FIRST_LAST,BIRTHDATE,SCHOOL,COUNTRY,HEIGHT,WEIGHT,SEASON_EXP,JERSEY,POSITION,TEAM_ID,FROM_YEAR,TO_YEAR,DRAFT_YEAR,DRAFT_NUMBER
0,1627780,Gary,Payton II,Gary Payton II,1992-12-01T00:00:00,Oregon State,USA,6-2,195,8,0,Guard,1610612744,2016,2024,Undrafted,Undrafted
1,1630228,Jonathan,Kuminga,Jonathan Kuminga,2002-10-06T00:00:00,NBA G League Ignite,DRC,6-7,225,3,00,Forward,1610612744,2021,2024,2021,7
2,1642379,Taran,Armstrong,Taran Armstrong,2002-01-15T00:00:00,"Cairns, Australia",Australia,6-5,190,0,1,Guard,1610612744,2024,2024,Undrafted,Undrafted
3,1641764,Brandin,Podziemski,Brandin Podziemski,2003-02-25T00:00:00,Santa Clara,USA,6-4,205,1,2,Guard,1610612744,2023,2024,2023,19
4,1630541,Moses,Moody,Moses Moody,2002-05-31T00:00:00,Arkansas,USA,6-5,211,3,4,Guard,1610612744,2021,2024,2021,14
5,1626172,Kevon,Looney,Kevon Looney,1996-02-06T00:00:00,UCLA,USA,6-9,222,9,5,Forward,1610612744,2015,2024,2015,30
6,1627741,Buddy,Hield,Buddy Hield,1992-12-17T00:00:00,Oklahoma,Bahamas,6-4,220,8,7,Guard,1610612744,2016,2024,2016,6
7,202710,Jimmy,Butler III,Jimmy Butler III,1989-09-14T00:00:00,Marquette,USA,6-7,230,13,10,Forward,1610612744,2011,2024,2011,30
8,1630296,Braxton,Key,Braxton Key,1997-02-14T00:00:00,Virginia,USA,6-8,225,3,12,Forward,1610612744,2021,2024,Undrafted,Undrafted
9,1630611,Gui,Santos,Gui Santos,2002-06-22T00:00:00,Minas,Brazil,6-6,185,1,15,Forward,1610612744,2023,2024,2022,55
10,1642366,Quinten,Post,Quinten Post,2000-03-21T00:00:00,Boston College,Netherlands,7-0,238,0,21,Center,1610612744,2024,2024,2024,52
11,203110,Draymond,Green,Draymond Green,1990-03-04T00:00:00,Michigan State,USA,6-6,230,12,23,Forward,1610612744,2012,2024,2012,35
12,201939,Stephen,Curry,Stephen Curry,1988-03-14T00:00:00,Davidson,USA,6-2,185,15,30,Guard,1610612744,2009,2024,2009,7
13,1631218,Trayce,Jackson-Davis,Trayce Jackson-Davis,2000-02-22T00:00:00,Indiana,USA,6-9,245,1,32,Forward,1610612744,2023,2024,2023,57
14,1642050,Jackson,Rowe,Jackson Rowe,1997-01-04T00:00:00,California State-Fullerton,Canada,6-7,210,0,44,Forward,1610612744,2024,2024,Undrafted,Undrafted
15,1630311,Pat,Spencer,Pat Spencer,1996-07-04T00:00:00,Northwestern,USA,6-3,205,1,61,Guard,1610612744,2023,2024,Undrafted,Undrafted

In [73]:
get_roster_stats_by_team("DEN")

,PERSON_ID,FIRST_NAME,LAST_NAME,DISPLAY_FIRST_LAST,BIRTHDATE,SCHOOL,COUNTRY,HEIGHT,WEIGHT,SEASON_EXP,JERSEY,POSITION,TEAM_ID,FROM_YEAR,TO_YEAR,DRAFT_YEAR,DRAFT_NUMBER
0,1631128,Christian,Braun,Christian Braun,2001-04-17T00:00:00,Kansas,USA,6-6,220,2,0,Guard,1610612743,2022,2024,2022,21
1,1629008,Michael,Porter Jr.,Michael Porter Jr.,1998-06-29T00:00:00,Missouri,USA,6-10,218,5,1,Forward,1610612743,2018,2024,2018,14
2,1631124,Julian,Strawther,Julian Strawther,2002-04-18T00:00:00,Gonzaga,USA,6-6,205,1,3,Guard,1610612743,2023,2024,2023,29
3,201566,Russell,Westbrook,Russell Westbrook,1988-11-12T00:00:00,UCLA,USA,6-4,200,16,4,Guard,1610612743,2008,2024,2008,4
4,1641816,Hunter,Tyson,Hunter Tyson,2000-06-13T00:00:00,Clemson,USA,6-8,215,1,5,Forward,1610612743,2023,2024,2023,37
5,201599,DeAndre,Jordan,DeAndre Jordan,1988-07-21T00:00:00,Texas A&M,USA,6-11,265,16,6,Center,1610612743,2008,2024,2008,35
6,1631212,Peyton,Watson,Peyton Watson,2002-09-11T00:00:00,UCLA,USA,6-7,200,2,8,Guard,1610612743,2022,2024,2022,30
7,203967,Dario,Šarić,Dario Šarić,1994-04-08T00:00:00,Anadolu Efes,Croatia,6-10,225,7,9,Forward-Center,1610612743,2016,2024,2014,12
8,1641790,PJ,Hall,PJ Hall,2002-02-21T00:00:00,Clemson,USA,6-10,245,0,13,Center,1610612743,2024,2024,Undrafted,Undrafted
9,1641747,DaRon,Holmes II,DaRon Holmes II,2002-08-15T00:00:00,Dayton,USA,6-10,225,0,14,Forward,1610612743,2024,2024,2024,22
10,203999,Nikola,Jokić,Nikola Jokić,1995-02-19T00:00:00,Mega Basket,Serbia,6-11,284,9,15,Center,1610612743,2015,2024,2014,41
11,1642461,Spencer,Jones,Spencer Jones,2001-06-14T00:00:00,Stanford,USA,6-7,225,0,21,Forward,1610612743,2024,2024,Undrafted,Undrafted
12,1630192,Zeke,Nnaji,Zeke Nnaji,2001-01-09T00:00:00,Arizona,USA,6-9,240,4,22,Forward-Center,1610612743,2020,2024,2020,22
13,1641725,Trey,Alexander,Trey Alexander,2003-05-02T00:00:00,Creighton,USA,6-4,185,0,23,Guard,1610612743,2024,2024,Undrafted,Undrafted
14,1629618,Jalen,Pickett,Jalen Pickett,1999-10-22T00:00:00,Penn State,USA,6-2,202,1,24,Guard,1610612743,2023,2024,2023,32
15,1627750,Jamal,Murray,Jamal Murray,1997-02-23T00:00:00,Kentucky,Canada,6-4,215,7,27,Guard,1610612743,2016,2024,2016,7
16,1628427,Vlatko,Čančar,Vlatko Čančar,1997-04-10T00:00:00,San Pablo Burgos,Slovenia,6-8,236,4,31,Forward,1610612743,2019,2024,2017,49
17,203932,Aaron,Gordon,Aaron Gordon,1995-09-16T00:00:00,Arizona,USA,6-8,235,10,32,Forward,1610612743,2014,2024,2014,4

In [74]:
get_roster_stats_by_team("DAL")

,PERSON_ID,FIRST_NAME,LAST_NAME,DISPLAY_FIRST_LAST,BIRTHDATE,SCHOOL,COUNTRY,HEIGHT,WEIGHT,SEASON_EXP,JERSEY,POSITION,TEAM_ID,FROM_YEAR,TO_YEAR,DRAFT_YEAR,DRAFT_NUMBER
0,203957,Danté,Exum,Danté Exum,1995-07-13T00:00:00,Australian Institute of Sport,Australia,6-5,214,7,0,Guard,1610612742,2014,2024,2014,5
1,1631108,Max,Christie,Max Christie,2003-02-10T00:00:00,Michigan State,USA,6-5,190,2,00,Guard,1610612742,2022,2024,2022,35
2,1630702,Jaden,Hardy,Jaden Hardy,2002-07-05T00:00:00,NBA G League Ignite,USA,6-3,198,2,1,Guard,1610612742,2021,2024,2022,37
3,1641726,Dereck,Lively II,Dereck Lively II,2004-02-12T00:00:00,Duke,USA,7-1,230,1,2,Center,1610612742,2023,2024,2023,12
4,203076,Anthony,Davis,Anthony Davis,1993-03-11T00:00:00,Kentucky,USA,6-10,253,12,3,Forward-Center,1610612742,2012,2024,2012,1
5,203939,Dwight,Powell,Dwight Powell,1991-07-20T00:00:00,Stanford,Canada,6-10,240,10,7,Forward-Center,1610612742,2014,2024,2014,45
6,1641765,Olivier-Maxence,Prosper,Olivier-Maxence Prosper,2002-07-03T00:00:00,Marquette,Canada,6-7,230,1,8,Forward,1610612742,2023,2024,2023,24
7,1630314,Brandon,Williams,Brandon Williams,1999-11-22T00:00:00,Arizona,USA,6-1,190,2,10,Guard,1610612742,2021,2024,Undrafted,Undrafted
8,202681,Kyrie,Irving,Kyrie Irving,1992-03-23T00:00:00,Duke,Australia,6-2,195,13,11,Guard,1610612742,2011,2024,2011,1
9,1630230,Naji,Marshall,Naji Marshall,1998-01-24T00:00:00,Xavier,USA,6-6,220,4,13,Forward,1610612742,2020,2024,Undrafted,Undrafted
10,1628997,Caleb,Martin,Caleb Martin,1995-09-28T00:00:00,Nevada,USA,6-5,205,5,16,Forward,1610612742,2019,2024,Undrafted,Undrafted
11,1630556,Kessler,Edwards,Kessler Edwards,2000-08-09T00:00:00,Pepperdine,USA,6-7,203,3,20,Forward,1610612742,2021,2024,2021,44
12,1629655,Daniel,Gafford,Daniel Gafford,1998-10-01T00:00:00,Arkansas,USA,6-10,265,5,21,Forward-Center,1610612742,2019,2024,2019,38
13,1630539,Kai,Jones,Kai Jones,2001-01-19T00:00:00,Texas,Bahamas,6-11,221,2,23,Center-Forward,1610612742,2021,2024,2021,19
14,1629023,P.J.,Washington,P.J. Washington,1998-08-23T00:00:00,Kentucky,USA,6-6,230,5,25,Forward,1610612742,2019,2024,2019,12
15,203915,Spencer,Dinwiddie,Spencer Dinwiddie,1993-04-06T00:00:00,Colorado,USA,6-5,215,10,26,Guard,1610612742,2014,2024,2014,38
16,202691,Klay,Thompson,Klay Thompson,1990-02-08T00:00:00,Washington State,USA,6-5,220,11,31,Guard,1610612742,2011,2024,2011,11