In [1]:
!pip install nba-api
!pip install requests
!pip install seaborn
!pip install -U scikit-learn

Requirement already satisfied: nba-api in /Users/luishernandez/Desktop/Python/prinvenv/lib/python3.13/site-packages (1.7.0)
Requirement already satisfied: numpy<2.0.0,>=1.22.2 in /Users/luishernandez/Desktop/Python/prinvenv/lib/python3.13/site-packages (from nba-api) (1.26.4)
Requirement already satisfied: requests<3.0.0,>=2.32.3 in /Users/luishernandez/Desktop/Python/prinvenv/lib/python3.13/site-packages (from nba-api) (2.32.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/luishernandez/Desktop/Python/prinvenv/lib/python3.13/site-packages (from requests<3.0.0,>=2.32.3->nba-api) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in /Users/luishernandez/Desktop/Python/prinvenv/lib/python3.13/site-packages (from requests<3.0.0,>=2.32.3->nba-api) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/luishernandez/Desktop/Python/prinvenv/lib/python3.13/site-packages (from requests<3.0.0,>=2.32.3->nba-api) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in /Users/luishernandez/Desktop/Python/prinvenv/lib/python3.13/site-packages (from requests<3.0.0,>=2.32.3->nba-api) (2024.12.14)
Requirement already satisfied: requests in /Users/luishernandez/Desktop/Python/prinvenv/lib/python3.13/site-packages (2.32.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/luishernandez/Desktop/Python/prinvenv/lib/python3.13/site-packages (from requests) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in /Users/luishernandez/Desktop/Python/prinvenv/lib/python3.13/site-packages (from requests) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/luishernandez/Desktop/Python/prinvenv/lib/python3.13/site-packages (from requests) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in /Users/luishernandez/Desktop/Python/prinvenv/lib/python3.13/site-packages (from requests) (2024.12.14)
Requirement already satisfied: seaborn in /Users/luishernandez/Desktop/Python/prinvenv/lib/python3.13/site-packages (0.13.2)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in /Users/luishernandez/Desktop/Python/prinvenv/lib/python3.13/site-packages (from seaborn) (1.26.4)
Requirement already satisfied: pandas>=1.2 in /Users/luishernandez/Desktop/Python/prinvenv/lib/python3.13/site-packages (from seaborn) (2.2.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in /Users/luishernandez/Desktop/Python/prinvenv/lib/python3.13/site-packages (from seaborn) (3.10.0)
Requirement already satisfied: contourpy>=1.0.1 in /Users/luishernandez/Desktop/Python/prinvenv/lib/python3.13/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.3.1)
Requirement already satisfied: cycler>=0.10 in /Users/luishernandez/Desktop/Python/prinvenv/lib/python3.13/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /Users/luishernandez/Desktop/Python/prinvenv/lib/python3.13/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.55.3)
Requirement already satisfied: kiwisolver>=1.3.1 in /Users/luishernandez/Desktop/Python/prinvenv/lib/python3.13/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.8)
Requirement already satisfied: packaging>=20.0 in /Users/luishernandez/Desktop/Python/prinvenv/lib/python3.13/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (24.2)
Requirement already satisfied: pillow>=8 in /Users/luishernandez/Desktop/Python/prinvenv/lib/python3.13/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (11.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in /Users/luishernandez/Desktop/Python/prinvenv/lib/python3.13/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.2.1)
Requirement already satisfied: python-dateutil>=2.7 in /Users/luishernandez/Desktop/Python/prinvenv/lib/python3.13/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Users/luishernandez/Desktop/Python/prinvenv/lib/python3.13/site-packages (from pandas>=1.2->seaborn) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /Users/luishernandez/Desktop/Python/prinvenv/lib/python3.13/site-packages (from pandas>=1.2->seaborn) (2024.2)
Requirement already satisfied: six>=1.5 in /Users/luishernandez/Desktop/Python/prinvenv/lib/python3.13/site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.17.0)
Requirement already satisfied: scikit-learn in /Users/luishernandez/Desktop/Python/prinvenv/lib/python3.13/site-packages (1.6.1)
Requirement already satisfied: numpy>=1.19.5 in /Users/luishernandez/Desktop/Python/prinvenv/lib/python3.13/site-packages (from scikit-learn) (1.26.4)
Requirement already satisfied: scipy>=1.6.0 in /Users/luishernandez/Desktop/Python/prinvenv/lib/python3.13/site-packages (from scikit-learn) (1.15.1)
Requirement already satisfied: joblib>=1.2.0 in /Users/luishernandez/Desktop/Python/prinvenv/lib/python3.13/site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in /Users/luishernandez/Desktop/Python/prinvenv/lib/python3.13/site-packages (from scikit-learn) (3.5.0)

In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
from typing import List, Dict, Tuple, Union, Optional

In [3]:
from nba_api.stats.static import teams
from nba_api.stats.endpoints import commonteamroster
from nba_api.stats.endpoints import teamgamelog
from nba_api.stats.endpoints import commonteamroster
from datetime import datetime, timezone
from dateutil import parser
from nba_api.live.nba.endpoints import scoreboard

In [4]:
class Teams():
    def __init__(self, Team_Abrrev, Season):
        self.Team_Abrrev= Team_Abrrev
        self.Season = Season

    def

    def get_team_roster_per_season(teamAbbreviation:str, season:str) -> pd.DataFrame:
        team_details = teams.find_team_by_abbreviation(teamAbbreviation)
        team_id = team_details["id"]
        roster = commonteamroster.CommonTeamRoster(team_id=team_id, season=season)
        roster_data = roster.get_data_frames()[0]
        return roster_data

    def get_team_games_played_per_season(teamAbbreviation:str, season:str) -> pd.DataFrame:
        team_details = teams.find_team_by_abbreviation(teamAbbreviation)
        team_id = team_details["id"]
        game_log = teamgamelog.TeamGameLog(team_id=team_id, season=season)
        game_log = game_log.get_data_frames()[0]
        return game_log
        
    def get_regular_season_teams_matchups_per_season(Team_Abrrev_list:list, season:str) -> pd.DataFrame:
        if type(Team_Abrrev_list) is not list:
            return "Team_abbrev_list must be a list"
        else: 
            teamAbbreviation1 = Team_Abrrev_list[0]
            teamAbbreviation2 = Team_Abrrev_list[1]
            game_log = get_team_games_played_per_season(teamAbbreviation1, season)
            return game_log[(game_log["MATCHUP"] == f"{teamAbbreviation1} @ {teamAbbreviation2}") | 
                            (game_log["MATCHUP"] == f"{teamAbbreviation1} vs. {teamAbbreviation2}")]  
            
    def get_todays_games() -> None:
        f = "{gameId}: {awayTeam} vs. {homeTeam} @ {gameTimeLTZ}" 
        board = scoreboard.ScoreBoard()
        print("ScoreBoardDate: " + board.score_board_date)
        games = board.games.get_dict()
        for game in games:
            gameTimeLTZ = parser.parse(game["gameTimeUTC"]).replace(tzinfo=timezone.utc).astimezone(tz=None)
            print(f.format(gameId=game['gameId'], awayTeam=game['awayTeam']['teamName'], homeTeam=game['homeTeam']['teamName'], gameTimeLTZ=gameTimeLTZ))

In [5]:
#Teams.get_team_roster_per_season("LAL",'2024-25')
#Teams.get_team_games_played_per_season("LAL", "2024-25")
#Teams.get_regular_season_teams_matchups_per_season(["OKC", "DAL"], "2022-23")
#Teams.get_todays_games()) <----- Falta cambiar para que en vez de imprimir, retorne...

In [6]:

from nba_api.stats.endpoints import teamyearbyyearstats

year_stats = teamyearbyyearstats.TeamYearByYearStats(team_id=1610612747)
year_stats = year_stats.get_data_frames()[0]

In [7]:
year_stats.columns

Index(['TEAM_ID', 'TEAM_CITY', 'TEAM_NAME', 'YEAR', 'GP', 'WINS', 'LOSSES',
       'WIN_PCT', 'CONF_RANK', 'DIV_RANK', 'PO_WINS', 'PO_LOSSES',
       'CONF_COUNT', 'DIV_COUNT', 'NBA_FINALS_APPEARANCE', 'FGM', 'FGA',
       'FG_PCT', 'FG3M', 'FG3A', 'FG3_PCT', 'FTM', 'FTA', 'FT_PCT', 'OREB',
       'DREB', 'REB', 'AST', 'PF', 'STL', 'TOV', 'BLK', 'PTS', 'PTS_RANK'],
      dtype='object')

In [8]:
year_stats.tail()

,TEAM_ID,TEAM_CITY,TEAM_NAME,YEAR,GP,WINS,LOSSES,WIN_PCT,CONF_RANK,DIV_RANK,...,OREB,DREB,REB,AST,PF,STL,TOV,BLK,PTS,PTS_RANK
72,1610612747,Los Angeles,Lakers,2020-21,72,42,30,0.583,7,3,...,695,2490,3185,1775,1377,562,1095,386,7887,22
73,1610612747,Los Angeles,Lakers,2021-22,82,33,49,0.402,11,4,...,782,2826,3608,1968,1654,626,1191,425,9192,11
74,1610612747,Los Angeles,Lakers,2022-23,82,43,39,0.524,7,5,...,818,2930,3748,2072,1466,526,1154,378,9608,6
75,1610612747,Los Angeles,Lakers,2023-24,82,47,35,0.573,8,3,...,676,2859,3535,2340,1283,605,1146,453,9679,6
76,1610612747,Los Angeles,Lakers,2024-25,63,40,23,0.635,4,1,...,605,2089,2694,1658,1059,482,880,299,7110,26

In [11]:
year_stats[year_stats["YEAR"] == "2010-11"]

,TEAM_ID,TEAM_CITY,TEAM_NAME,YEAR,GP,WINS,LOSSES,WIN_PCT,CONF_RANK,DIV_RANK,...,OREB,DREB,REB,AST,PF,STL,TOV,BLK,PTS,PTS_RANK
62,1610612747,Los Angeles,Lakers,2010-11,82,57,25,0.695,2,1,...,989,2616,3605,1801,1555,602,1073,422,8321,9

In [14]:
info = year_stats[62:]

In [15]:
from json import loads, dumps
info.to_json('lakers_stats.json', orient = 'split', compression = 'infer', index = 'true')

In [17]:
read = pd.read_json("lakers_stats.json",orient ='split', compression = 'infer')

In [19]:
read.reset_index(inplace=True)

In [21]:
read.drop(columns="index")

,TEAM_ID,TEAM_CITY,TEAM_NAME,YEAR,GP,WINS,LOSSES,WIN_PCT,CONF_RANK,DIV_RANK,...,OREB,DREB,REB,AST,PF,STL,TOV,BLK,PTS,PTS_RANK
0,1610612747,Los Angeles,Lakers,2010-11,82,57,25,0.695,2,1,...,989,2616,3605,1801,1555,602,1073,422,8321,9
1,1610612747,Los Angeles,Lakers,2011-12,66,41,25,0.621,3,1,...,799,2251,3050,1485,1109,390,997,351,6422,15
2,1610612747,Los Angeles,Lakers,2012-13,82,45,37,0.549,7,3,...,942,2732,3674,1818,1467,576,1232,429,8381,6
3,1610612747,Los Angeles,Lakers,2013-14,82,27,55,0.329,14,5,...,745,2620,3365,2006,1627,611,1239,446,8442,11
4,1610612747,Los Angeles,Lakers,2014-15,82,21,61,0.256,14,5,...,952,2647,3599,1715,1741,578,1086,366,8073,19
5,1610612747,Los Angeles,Lakers,2015-16,82,17,65,0.207,15,5,...,878,2645,3523,1478,1662,593,1124,337,7982,30
6,1610612747,Los Angeles,Lakers,2016-17,82,26,56,0.317,14,4,...,933,2636,3569,1716,1698,674,1243,320,8575,17
7,1610612747,Los Angeles,Lakers,2017-18,82,35,47,0.427,11,3,...,876,2927,3803,1949,1736,633,1295,388,8862,11
8,1610612747,Los Angeles,Lakers,2018-19,82,37,45,0.451,10,4,...,835,2985,3820,2096,1701,618,1284,440,9165,16
9,1610612747,Los Angeles,Lakers,2019-20,71,52,19,0.732,1,1,...,757,2490,3247,1803,1471,612,1077,468,8054,16
10,1610612747,Los Angeles,Lakers,2020-21,72,42,30,0.583,7,3,...,695,2490,3185,1775,1377,562,1095,386,7887,22
11,1610612747,Los Angeles,Lakers,2021-22,82,33,49,0.402,11,4,...,782,2826,3608,1968,1654,626,1191,425,9192,11
12,1610612747,Los Angeles,Lakers,2022-23,82,43,39,0.524,7,5,...,818,2930,3748,2072,1466,526,1154,378,9608,6
13,1610612747,Los Angeles,Lakers,2023-24,82,47,35,0.573,8,3,...,676,2859,3535,2340,1283,605,1146,453,9679,6
14,1610612747,Los Angeles,Lakers,2024-25,63,40,23,0.635,4,1,...,605,2089,2694,1658,1059,482,880,299,7110,26